In [1]:
import findspark
findspark.init('/opt/cloudera/parcels/SPARK2-2.3.0.cloudera3-1.cdh5.13.3.p0.458809/lib/spark2')
##findspark.init("/home/ubuntu/spark-2.2.1-bin-hadoop2.7")
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('KENDVIC_27_08_2018').getOrCreate()

In [2]:
spark.sql("show tables from default").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
| default|   reniec|      false|
+--------+---------+-----------+

In [3]:
spark.sql("show tables from salud").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|   salud|  essalud|      false|
+--------+---------+-----------+

In [4]:
spark.sql("select * from salud.essalud").show()

+------------+--------------+--------------------+----------------+-------+----+
|       cussp|numerodocument|           domicilio|        telefono|    ram| afp|
+------------+--------------+--------------------+----------------+-------+----+
|560080RALRE3|      41854018|CALLE LOS BAMBUES...|         3652571|  39382|  IN|
|573180MAMNT6|      41020654|    CL.LAS MORAS 246|         4952535|   2680|  UV|
|262020MACVP1|      41591162|CA LOS FICOS LT-5...|         3654289|  37170|  IN|
|257001MASVO5|      41034300|  CL. VALLADOLID 176|         4954206|   3546|  PR|
|542411CAZSI0|      41150271|JR ANTUNES  DE MA...|         4352899|  25269|  IN|
|239720GARSG9|      41125546|  "CALLE MANAGUA 165| SANTA PATRICIA"|9726462|3818|
|239611CARIC5|      41919700|URB EL REMANSO DE...|         4953756|   6936|  HO|
|247191RASOD2|      41678951|CALZADA DE FRAILE...|         3655147|   4600|  UV|
|513131JAGEM4|      41676527| MZ.W/LT.22 DPTO.202|         3481863|   7473|  UV|
|543611CAMEA9|      41062987|CL. LOS MANZANERO...|         3654129|   2924|  HO|
|555720MACAM9|      41004637|LOS AGROLOGOS 352...|         3480565|  16533|  IN|
|251031RACAM3|      41290421|CL LAS HIGUERAS-R...|         4377540|   6788|  HO|
|531710JADAI3|      41133448|DEL PARQUE 620 LA...|         4790436|   3000|  UV|
|541751JADAI4|      41899533|BARLOVENTO MZ 3LL...|         4790822|   4644|  IN|
|575310FAMIS6|      41869858|LAS TIPUANAS/LA M...|         4952430|   3500|  UV|
|525760MATII3|      41316157|MANUEL ASCENZO SE...|         3487040|   7033|  IN|
|509841VASIC4|      41180904|CALLE 43 (CALLE T...|         3488258|   3583|  UV|
|497461JAAIS4|      41225156|CALLE MAGISTERIO ...|         3493660|  56109|  IN|
|249280NASIU5|      41564419|AV LA ARBOLEDA 43...|         3650268|  83742|  IN|
|531001FACIV5|      41303274|URB.PARQUE MONTER...|         4372516|   4400|  UV|
+------------+--------------+--------------------+----------------+-------+----+
only showing top 20 rows

In [5]:
df_csv = spark.read.csv('/user/grupo_3/villacorta/csv/2015-summary.csv', inferSchema=True, header=True)
df_csv.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [7]:
df_csv.dtypes

[('DEST_COUNTRY_NAME', 'string'),
 ('ORIGIN_COUNTRY_NAME', 'string'),
 ('count', 'int')]

In [12]:
from pyspark.sql.functions import col, expr
df_csv = df_csv.withColumn('nueva_columna', (col("count")*3))

In [13]:
df_csv.columns

['DEST_COUNTRY_NAME', 'ORIGIN_COUNTRY_NAME', 'count', 'nueva_columna']

In [14]:
df_csv.show()

+--------------------+-------------------+-----+-------------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|nueva_columna|
+--------------------+-------------------+-----+-------------+
|       United States|            Romania|   15|           45|
|       United States|            Croatia|    1|            3|
|       United States|            Ireland|  344|         1032|
|               Egypt|      United States|   15|           45|
|       United States|              India|   62|          186|
|       United States|          Singapore|    1|            3|
|       United States|            Grenada|   62|          186|
|          Costa Rica|      United States|  588|         1764|
|             Senegal|      United States|   40|          120|
|             Moldova|      United States|    1|            3|
|       United States|       Sint Maarten|  325|          975|
|       United States|   Marshall Islands|   39|          117|
|              Guyana|      United States|   64|          192|
|               Malta|      United States|    1|            3|
|            Anguilla|      United States|   41|          123|
|             Bolivia|      United States|   30|           90|
|       United States|           Paraguay|    6|           18|
|             Algeria|      United States|    4|           12|
|Turks and Caicos ...|      United States|  230|          690|
|       United States|          Gibraltar|    1|            3|
+--------------------+-------------------+-----+-------------+
only showing top 20 rows

In [15]:
df_csv.select("DEST_COUNTRY_NAME", "nueva_columna").show()

+--------------------+-------------+
|   DEST_COUNTRY_NAME|nueva_columna|
+--------------------+-------------+
|       United States|           45|
|       United States|            3|
|       United States|         1032|
|               Egypt|           45|
|       United States|          186|
|       United States|            3|
|       United States|          186|
|          Costa Rica|         1764|
|             Senegal|          120|
|             Moldova|            3|
|       United States|          975|
|       United States|          117|
|              Guyana|          192|
|               Malta|            3|
|            Anguilla|          123|
|             Bolivia|           90|
|       United States|           18|
|             Algeria|           12|
|Turks and Caicos ...|          690|
|       United States|            3|
+--------------------+-------------+
only showing top 20 rows

In [22]:
df_csv = df_csv.withColumnRenamed('count', 'cantidad')
df_csv.columns

['DEST_COUNTRY_NAME', 'ORIGIN_COUNTRY_NAME', 'cantidad', 'nueva_columna']

In [23]:
df_csv.show()

+--------------------+-------------------+--------+-------------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|cantidad|nueva_columna|
+--------------------+-------------------+--------+-------------+
|       United States|            Romania|      15|           45|
|       United States|            Croatia|       1|            3|
|       United States|            Ireland|     344|         1032|
|               Egypt|      United States|      15|           45|
|       United States|              India|      62|          186|
|       United States|          Singapore|       1|            3|
|       United States|            Grenada|      62|          186|
|          Costa Rica|      United States|     588|         1764|
|             Senegal|      United States|      40|          120|
|             Moldova|      United States|       1|            3|
|       United States|       Sint Maarten|     325|          975|
|       United States|   Marshall Islands|      39|          117|
|              Guyana|      United States|      64|          192|
|               Malta|      United States|       1|            3|
|            Anguilla|      United States|      41|          123|
|             Bolivia|      United States|      30|           90|
|       United States|           Paraguay|       6|           18|
|             Algeria|      United States|       4|           12|
|Turks and Caicos ...|      United States|     230|          690|
|       United States|          Gibraltar|       1|            3|
+--------------------+-------------------+--------+-------------+
only showing top 20 rows

In [25]:
df_csv.select(expr('*'), expr('1 as flat')).show()

+--------------------+-------------------+--------+-------------+----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|cantidad|nueva_columna|flat|
+--------------------+-------------------+--------+-------------+----+
|       United States|            Romania|      15|           45|   1|
|       United States|            Croatia|       1|            3|   1|
|       United States|            Ireland|     344|         1032|   1|
|               Egypt|      United States|      15|           45|   1|
|       United States|              India|      62|          186|   1|
|       United States|          Singapore|       1|            3|   1|
|       United States|            Grenada|      62|          186|   1|
|          Costa Rica|      United States|     588|         1764|   1|
|             Senegal|      United States|      40|          120|   1|
|             Moldova|      United States|       1|            3|   1|
|       United States|       Sint Maarten|     325|          975|   1|
|       United States|   Marshall Islands|      39|          117|   1|
|              Guyana|      United States|      64|          192|   1|
|               Malta|      United States|       1|            3|   1|
|            Anguilla|      United States|      41|          123|   1|
|             Bolivia|      United States|      30|           90|   1|
|       United States|           Paraguay|       6|           18|   1|
|             Algeria|      United States|       4|           12|   1|
|Turks and Caicos ...|      United States|     230|          690|   1|
|       United States|          Gibraltar|       1|            3|   1|
+--------------------+-------------------+--------+-------------+----+
only showing top 20 rows

In [26]:
df_csv.groupby('DEST_COUNTRY_NAME').count().show()

+--------------------+-----+
|   DEST_COUNTRY_NAME|count|
+--------------------+-----+
|            Anguilla|    1|
|              Russia|    1|
|            Paraguay|    1|
|             Senegal|    1|
|              Sweden|    1|
|            Kiribati|    1|
|              Guyana|    1|
|         Philippines|    1|
|            Djibouti|    1|
|            Malaysia|    1|
|           Singapore|    1|
|                Fiji|    1|
|              Turkey|    1|
|                Iraq|    1|
|             Germany|    1|
|              Jordan|    1|
|               Palau|    1|
|Turks and Caicos ...|    1|
|              France|    1|
|              Greece|    1|
+--------------------+-----+
only showing top 20 rows

In [27]:
df_csv = df_csv.withColumn('otra_columna', (col("cantidad")/4))
df_csv.show()

+--------------------+-------------------+--------+-------------+------------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|cantidad|nueva_columna|otra_columna|
+--------------------+-------------------+--------+-------------+------------+
|       United States|            Romania|      15|           45|        3.75|
|       United States|            Croatia|       1|            3|        0.25|
|       United States|            Ireland|     344|         1032|        86.0|
|               Egypt|      United States|      15|           45|        3.75|
|       United States|              India|      62|          186|        15.5|
|       United States|          Singapore|       1|            3|        0.25|
|       United States|            Grenada|      62|          186|        15.5|
|          Costa Rica|      United States|     588|         1764|       147.0|
|             Senegal|      United States|      40|          120|        10.0|
|             Moldova|      United States|       1|            3|        0.25|
|       United States|       Sint Maarten|     325|          975|       81.25|
|       United States|   Marshall Islands|      39|          117|        9.75|
|              Guyana|      United States|      64|          192|        16.0|
|               Malta|      United States|       1|            3|        0.25|
|            Anguilla|      United States|      41|          123|       10.25|
|             Bolivia|      United States|      30|           90|         7.5|
|       United States|           Paraguay|       6|           18|         1.5|
|             Algeria|      United States|       4|           12|         1.0|
|Turks and Caicos ...|      United States|     230|          690|        57.5|
|       United States|          Gibraltar|       1|            3|        0.25|
+--------------------+-------------------+--------+-------------+------------+
only showing top 20 rows

In [28]:
df_csv.select("DEST_COUNTRY_NAME", "otra_columna").show()

+--------------------+------------+
|   DEST_COUNTRY_NAME|otra_columna|
+--------------------+------------+
|       United States|        3.75|
|       United States|        0.25|
|       United States|        86.0|
|               Egypt|        3.75|
|       United States|        15.5|
|       United States|        0.25|
|       United States|        15.5|
|          Costa Rica|       147.0|
|             Senegal|        10.0|
|             Moldova|        0.25|
|       United States|       81.25|
|       United States|        9.75|
|              Guyana|        16.0|
|               Malta|        0.25|
|            Anguilla|       10.25|
|             Bolivia|         7.5|
|       United States|         1.5|
|             Algeria|         1.0|
|Turks and Caicos ...|        57.5|
|       United States|        0.25|
+--------------------+------------+
only showing top 20 rows

In [29]:
from pyspark.sql.functions import lit

In [32]:
df_csv = df_csv.select(expr('*'), lit(3).alias('flat'))
df_csv.show()

+--------------------+-------------------+--------+-------------+------------+----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|cantidad|nueva_columna|otra_columna|flat|
+--------------------+-------------------+--------+-------------+------------+----+
|       United States|            Romania|      15|           45|        3.75|   3|
|       United States|            Croatia|       1|            3|        0.25|   3|
|       United States|            Ireland|     344|         1032|        86.0|   3|
|               Egypt|      United States|      15|           45|        3.75|   3|
|       United States|              India|      62|          186|        15.5|   3|
|       United States|          Singapore|       1|            3|        0.25|   3|
|       United States|            Grenada|      62|          186|        15.5|   3|
|          Costa Rica|      United States|     588|         1764|       147.0|   3|
|             Senegal|      United States|      40|          120|        10.0|   3|
|             Moldova|      United States|       1|            3|        0.25|   3|
|       United States|       Sint Maarten|     325|          975|       81.25|   3|
|       United States|   Marshall Islands|      39|          117|        9.75|   3|
|              Guyana|      United States|      64|          192|        16.0|   3|
|               Malta|      United States|       1|            3|        0.25|   3|
|            Anguilla|      United States|      41|          123|       10.25|   3|
|             Bolivia|      United States|      30|           90|         7.5|   3|
|       United States|           Paraguay|       6|           18|         1.5|   3|
|             Algeria|      United States|       4|           12|         1.0|   3|
|Turks and Caicos ...|      United States|     230|          690|        57.5|   3|
|       United States|          Gibraltar|       1|            3|        0.25|   3|
+--------------------+-------------------+--------+-------------+------------+----+
only showing top 20 rows

In [33]:
df_csv.columns

['DEST_COUNTRY_NAME',
 'ORIGIN_COUNTRY_NAME',
 'cantidad',
 'nueva_columna',
 'otra_columna',
 'flat']

In [34]:
def mult_game(val):
    return (val**2)*3.45

In [35]:
df_csv = df_csv.select(expr('*'), mult_game(col('cantidad')).alias('resultado_funcion'))
df_csv.show()

+--------------------+-------------------+--------+-------------+------------+----+------------------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|cantidad|nueva_columna|otra_columna|flat| resultado_funcion|
+--------------------+-------------------+--------+-------------+------------+----+------------------+
|       United States|            Romania|      15|           45|        3.75|   3|            776.25|
|       United States|            Croatia|       1|            3|        0.25|   3|              3.45|
|       United States|            Ireland|     344|         1032|        86.0|   3|          408259.2|
|               Egypt|      United States|      15|           45|        3.75|   3|            776.25|
|       United States|              India|      62|          186|        15.5|   3|13261.800000000001|
|       United States|          Singapore|       1|            3|        0.25|   3|              3.45|
|       United States|            Grenada|      62|          186|        15.5|   3|13261.800000000001|
|          Costa Rica|      United States|     588|         1764|       147.0|   3|         1192816.8|
|             Senegal|      United States|      40|          120|        10.0|   3|            5520.0|
|             Moldova|      United States|       1|            3|        0.25|   3|              3.45|
|       United States|       Sint Maarten|     325|          975|       81.25|   3|         364406.25|
|       United States|   Marshall Islands|      39|          117|        9.75|   3|           5247.45|
|              Guyana|      United States|      64|          192|        16.0|   3|           14131.2|
|               Malta|      United States|       1|            3|        0.25|   3|              3.45|
|            Anguilla|      United States|      41|          123|       10.25|   3| 5799.450000000001|
|             Bolivia|      United States|      30|           90|         7.5|   3|            3105.0|
|       United States|           Paraguay|       6|           18|         1.5|   3|             124.2|
|             Algeria|      United States|       4|           12|         1.0|   3|              55.2|
|Turks and Caicos ...|      United States|     230|          690|        57.5|   3|          182505.0|
|       United States|          Gibraltar|       1|            3|        0.25|   3|              3.45|
+--------------------+-------------------+--------+-------------+------------+----+------------------+
only showing top 20 rows

## COMANDOS SQL

In [38]:
spark.sql("""
    select * from default.reniec
""").show()

+--------+----------+-------------------+-----------------+----+----+----+----+-------------+------------+--------------+
| num_doc|   ape_pat|            ape_mat|           nombre|edad|sexo|dept|prov|         dist|estado_civil|flag_propiedad|
+--------+----------+-------------------+-----------------+----+----+----+----+-------------+------------+--------------+
|41854018|     PINTO|            CONDORI|        JOSE LUIS|  31|   M|LIMA|LIMA|         LIMA|           S|             1|
|41020654|    TORRES|               NAPA|     LUIS ENRIQUE|  34|   M|LIMA|LIMA|         LIMA|           S|             1|
|41591162| CASTANEDA|          TANTALEAN|  SHIRLEY JANETTE|  33|   F|LIMA|LIMA|         LIMA|           S|             1|
|41034300|    TAPARA|             FLORES| MARIELA MERCEDES|  37|   F|LIMA|LIMA|         LIMA|           S|             1|
|41150271|  CARBAJAL|               RUIZ|ROSALIA HORTENCIA|  35|   F|LIMA|LIMA|         LIMA|           S|             0|
|41125546|    GRADOS|            CONDORI|       ERIKA ANAI|  37|   F|LIMA|LIMA|         LIMA|          CS|             0|
|41919700|   CONDORI|             HUANCA|       ELIDA SONY|  31|   F|LIMA|LIMA|         LIMA|          CS|             0|
|41678951|   ESCOBAR|CASTANEDA DE SEGAMA|      LUISA YUDIT|  38|   F|LIMA|LIMA|          ATE|          CS|             1|
|41676527| CANGALAYA|         NINAHUANCA|   LOURDES AURORA|  32|   F|LIMA|LIMA|  SANTA ANITA|           S|             0|
|41062987|      ECHE|         COLMENARES|   MARIA MILAGROS|  33|   F|LIMA|LIMA|         BREA|          CS|             0|
|41004637|   VASQUEZ|         DEL AGUILA| NIURKHA MILUSKHA|  35|   F|LIMA|LIMA|         BREA|          CS|             1|
|41290421|   NORIEGA|            NAVARRO|SAMANTA ROSSMANIS|  33|   F|LIMA|LIMA|         BREA|           S|             0|
|41133448|     DIEGO|          NAVARRETE|       MARIA NELA|  38|   F|LIMA|LIMA|         BREA|          CS|             4|
|41899533|   PAREDES|           CASTILLO|      STEVEN JOEL|  32|   M|LIMA|LIMA|         BREA|          CS|             1|
|41869858|     MATOS|              FALLA|   JIMMY FRANKLIN|  34|   M|LIMA|LIMA|        COMAS|           S|             0|
|41316157|    CHACON|           TERRONES|        JACKELINE|  32|   F|LIMA|LIMA|        COMAS|           S|             1|
|41180904|      BOZA|          PACHERREZ|     CARMEN LUISA|  33|   F|LIMA|LIMA|   CHORRILLOS|           S|             1|
|41225156|ECHEVARRIA|             FALCON|     MAYITA HYLDA|  33|   F|LIMA|LIMA|INDEPENDENCIA|          CS|             1|
|41564419|  MELENDEZ|               LEON|  MAURO CRISTOBAL|  39|   M|LIMA|LIMA|INDEPENDENCIA|          CS|             1|
|41303274|    ALFARO|              PEREZ|            EDWIN|  35|   M|LIMA|LIMA|INDEPENDENCIA|           S|             0|
+--------+----------+-------------------+-----------------+----+----+----+----+-------------+------------+--------------+
only showing top 20 rows

In [39]:
spark.sql("""
    select num_doc, 
        ape_pat as apellido_paterno,
        cast(3.14 as decimal(8, 4)) as tipo_cambio
    from default.reniec
""").show()

+--------+----------------+-----------+
| num_doc|apellido_paterno|tipo_cambio|
+--------+----------------+-----------+
|41854018|           PINTO|     3.1400|
|41020654|          TORRES|     3.1400|
|41591162|       CASTANEDA|     3.1400|
|41034300|          TAPARA|     3.1400|
|41150271|        CARBAJAL|     3.1400|
|41125546|          GRADOS|     3.1400|
|41919700|         CONDORI|     3.1400|
|41678951|         ESCOBAR|     3.1400|
|41676527|       CANGALAYA|     3.1400|
|41062987|            ECHE|     3.1400|
|41004637|         VASQUEZ|     3.1400|
|41290421|         NORIEGA|     3.1400|
|41133448|           DIEGO|     3.1400|
|41899533|         PAREDES|     3.1400|
|41869858|           MATOS|     3.1400|
|41316157|          CHACON|     3.1400|
|41180904|            BOZA|     3.1400|
|41225156|      ECHEVARRIA|     3.1400|
|41564419|        MELENDEZ|     3.1400|
|41303274|          ALFARO|     3.1400|
+--------+----------------+-----------+
only showing top 20 rows

## Registrar DATAFRAME EN CATALOGO METASTORE

In [41]:
df_csv.createOrReplaceTempView('kendal_table')

In [ ]:
spark.sql("show databases").show()

In [ ]:
spark.sql("show tables from default").show()

In [ ]:
dicc_sexo = {
    'sexo': ['M', 'F'],
    'descsexo': ['Masculino', 'Femenino']
}
df_sexo = spark.createDataFrameateDataFrameateDataFrameateDataFrameateDataFrameateDataFrame