In [1]:
import findspark
findspark.init('/opt/cloudera/parcels/SPARK2-2.3.0.cloudera3-1.cdh5.13.3.p0.458809/lib/spark2')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('con_eder').getOrCreate()

In [2]:
url = "jdbc:postgresql://mydabasesesprueba.ctqd53cbomwx.us-east-2.rds.amazonaws.com/dbprueba"

connectionProperties = {
    'user' : 'epinedac',
    'password' : 'epinedac'
}

In [13]:
url = "jdbc:mysql://MYSQL5009.site4now.net:3306/db_a05768_ederp"

connectionProperties = {
  'user' : 'a05768_ederp',
  'password' : 'eder2018'
}

query = """(select *
            from personas_reniec) personas_reniec"""

query_2 = """
            (select a.*
                from stg_formato_01 a
            inner join stg_formato_01_hist b on a.vchnumid = b.vchnumid
            ) query_minagri"""

In [11]:
df_mysql = spark.read.jdbc(url=url,table="personas_reniec",properties=connectionProperties)

In [8]:
df_mysql_2 = spark.read.jdbc(url=url,table=query,properties=connectionProperties)

In [14]:
df_mysql_3 = spark.read.jdbc(url=url,table=query_2,properties=connectionProperties)

In [9]:
df_mysql_2.count()

5000

In [6]:
df_mysql.count()

5000

In [15]:
df_mysql_3.count()

16956

In [7]:
df_mysql.write.format("parquet").mode("overwrite").save("/user/dnarvaez/data_out/personas_reniec")