In [1]:
#Carga de datos
import pandas as pd
from sklearn import preprocessing
import numpy as np
data = pd.read_csv('DS_Credito Hipotecario.csv', encoding= "ISO-8859-1", sep=",")
data.head(20)

,ID,SEXO,FLAG_CASADO,NRO_DEPENDIENTES,EDUCACION,FLAG_TRAB_INDEP,INGRESOS_SOLICITANTE,INGRESOS_COSOLICITANTE,MONTO_PRESTAMO_MILES,PLAZO_PRESTAMO_MESES,FLAG_HISTORIAL_CREDITICIO,TIPO_ZONA,FLAG_CRED_HIPO
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,Bueno,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,Bueno,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,Bueno,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,Bueno,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,Bueno,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,Bueno,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,Bueno,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,Malo,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,Bueno,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,Bueno,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,Bueno,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,Bueno,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,Bueno,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,Bueno,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,Bueno,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,Bueno,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,Malo,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,NaN,133.0,360.0,Bueno,Rural,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,Bueno,Urban,Y

In [2]:
class PreProcessing:
    def __init__(self, data):
        self.data = data.copy()
        columns_data = list(data.columns)
        self.columns = columns_data[1:-1]
        self.target = columns_data[-1]
        
    @property
    def columns_null(self):
        return [
            col for col in self.columns if self.data[col].isnull().any()
        ]   
    
    @property
    def colums_null_for_types(self):
        return {
            str(k).lower(): [col for col in list(v) if col in self.columns_null]
            for k, v in 
            data.columns.to_series().groupby(data.dtypes).groups.items()
        }

    @property
    def types(self):
        return [str(tipo) for tipo in set(data.dtypes)]
        
    def verificator_null(self):
        if self.data.isnull().any().any():
            print(pd.concat(
                [self.data.isnull().any(), 
                 self.data.isnull().sum(),
                 self.data.dtypes], 
                axis=1))
        else:
            print("DATA LIMPIA DE NULOS")
            
    def describe_data(self):
        print(data.describe(include="all"))
    
    def compare_with_target(self, action='count'):
        for colum in self.columns:
            print(data.pivot_table(
                index=[colum], 
                columns=[self.target],
                values=['ID'],
                aggfunc=action
            ))
            print("//"*50)
    
    def clean_data_v2(self):
        for type_data, list_col in self.colums_null_for_types.items():
            for col in list_col:
                if type_data == 'object':
                    self.data[col].fillna('NO PRECISA', inplace=True)
                else:
                    self.data[col].fillna(data[col].mean(), inplace=True)

    def clean_data_v1(self):
        for type_data, list_col in self.colums_null_for_types.items():
            for col in list_col:
                if type_data == 'object':
                    self.data[col].fillna(data[col].mode()[0], inplace=True)
                else:
                    self.data[col].fillna(data[col].mean(), inplace=True)
    
    def analysis_percentile(self, list_columns, percent):
        for col in list_columns:
            valor_in_percent = np.nanpercentile(data[col], [percent])[0]
            indice_percen = self.data[col] > valor_in_percent
            self.data.loc[indice_percen, col] = valor_in_percent
            print(col, ' recortada, nuevo masximo :', max(self.data[col]))
            
    def factorize_data(self, list_columns, cut=False, range_data=range(0, 20000, 1000)):
        for col in list_columns:
            data_column = pd.cut(self.data[col], range_data) if cut else self.data[col]                
            data_factorize = pd.factorize(data_column)[0]    
            range_train = preprocessing.LabelEncoder().fit(data_factorize)
            self.data[col] = range_train.transform(data_factorize)
            print(col, 'factorizada')
            
    def save_data(self, sufijo=''):
        self.data = self.data.drop(['ID'], axis=1)
        self.data.to_csv("CLEAN_credito{0}.csv".format(sufijo), index=False)

In [3]:
#Creo dos instancias de mi data segun el metodo de preprocesado seleccionado
process_1 = PreProcessing(data)
process_2 = PreProcessing(data)

In [4]:
#Analizo los nulos
process_1.verificator_null()

                               0   1        2
ID                         False   0   object
SEXO                        True  13   object
FLAG_CASADO                 True   3   object
NRO_DEPENDIENTES            True  15   object
EDUCACION                  False   0   object
FLAG_TRAB_INDEP             True  32   object
INGRESOS_SOLICITANTE       False   0    int64
INGRESOS_COSOLICITANTE      True  61  float64
MONTO_PRESTAMO_MILES        True  22  float64
PLAZO_PRESTAMO_MESES        True  14  float64
FLAG_HISTORIAL_CREDITICIO   True  50   object
TIPO_ZONA                  False   0   object
FLAG_CRED_HIPO             False   0   object

In [5]:
#Obtento una descripcion de las columnas a detalle
process_1.describe_data()

              ID  SEXO FLAG_CASADO NRO_DEPENDIENTES EDUCACION FLAG_TRAB_INDEP  \
count        614   601         611              599       614             582
unique       614     2           2                4         2               2
top     LP002178  Male         Yes                0  Graduate              No
freq           1   489         398              345       480             500
mean         NaN   NaN         NaN              NaN       NaN             NaN
std          NaN   NaN         NaN              NaN       NaN             NaN
min          NaN   NaN         NaN              NaN       NaN             NaN
25%          NaN   NaN         NaN              NaN       NaN             NaN
50%          NaN   NaN         NaN              NaN       NaN             NaN
75%          NaN   NaN         NaN              NaN       NaN             NaN
max          NaN   NaN         NaN              NaN       NaN             NaN

        INGRESOS_SOLICITANTE  INGRESOS_COSOLICITANTE  MONTO_PRESTAMO_MILES  \
count             614.000000               553.00000            592.000000
unique                   NaN                     NaN                   NaN
top                      NaN                     NaN                   NaN
freq                     NaN                     NaN                   NaN
mean             5403.459283              1800.08123            146.412162
std              6109.041673              3030.95592             85.587325
min               150.000000                 0.00000              9.000000
25%              2877.500000                 0.00000            100.000000
50%              3812.500000              1483.00000            128.000000
75%              5795.000000              2417.00000            168.000000
max             81000.000000             41667.00000            700.000000

        PLAZO_PRESTAMO_MESES FLAG_HISTORIAL_CREDITICIO  TIPO_ZONA  \
count              600.00000                       564        614
unique                   NaN                         2          3
top                      NaN                     Bueno  Semiurban
freq                     NaN                       475        233
mean               342.00000                       NaN        NaN
std                 65.12041                       NaN        NaN
min                 12.00000                       NaN        NaN
25%                360.00000                       NaN        NaN
50%                360.00000                       NaN        NaN
75%                360.00000                       NaN        NaN
max                480.00000                       NaN        NaN

       FLAG_CRED_HIPO
count             614
unique              2
top                 Y
freq              422
mean              NaN
std               NaN
min               NaN
25%               NaN
50%               NaN
75%               NaN
max               NaN

In [6]:
#Analizamos un analisis opcional de los datos vs la variable TARGET
process_1.compare_with_target()

                 ID
FLAG_CRED_HIPO    N    Y
SEXO
Female           37   75
Male            150  339
////////////////////////////////////////////////////////////////////////////////////////////////////
                 ID
FLAG_CRED_HIPO    N    Y
FLAG_CASADO
No               79  134
Yes             113  285
////////////////////////////////////////////////////////////////////////////////////////////////////
                   ID
FLAG_CRED_HIPO      N    Y
NRO_DEPENDIENTES
0                 107  238
1                  36   66
2                  25   76
3+                 18   33
////////////////////////////////////////////////////////////////////////////////////////////////////
                 ID
FLAG_CRED_HIPO    N    Y
EDUCACION
Graduate        140  340
Not Graduate     52   82
////////////////////////////////////////////////////////////////////////////////////////////////////
                  ID
FLAG_CRED_HIPO     N    Y
FLAG_TRAB_INDEP
No               157  343
Yes               26   56
////////////////////////////////////////////////////////////////////////////////////////////////////
                       ID
FLAG_CRED_HIPO          N    Y
INGRESOS_SOLICITANTE
150                   1.0  NaN
210                   NaN  1.0
416                   1.0  NaN
645                   NaN  1.0
674                   NaN  1.0
1000                  1.0  NaN
1025                  NaN  2.0
1299                  NaN  1.0
1378                  1.0  NaN
1442                  1.0  NaN
1500                  1.0  NaN
1538                  NaN  1.0
1600                  1.0  NaN
1625                  NaN  1.0
1668                  1.0  NaN
1759                  NaN  1.0
1782                  NaN  1.0
1800                  1.0  1.0
1809                  NaN  1.0
1811                  NaN  1.0
1820                  NaN  2.0
1828                  1.0  NaN
1830                  1.0  NaN
1836                  1.0  NaN
1853                  1.0  NaN
1863                  NaN  1.0
1875                  NaN  1.0
1880                  1.0  NaN
1907                  NaN  1.0
1916                  1.0  NaN
...                   ...  ...
14683                 1.0  NaN
14866                 NaN  1.0
14880                 NaN  1.0
14999                 1.0  NaN
15000                 NaN  1.0
15759                 NaN  1.0
16120                 NaN  1.0
16250                 1.0  NaN
16525                 NaN  1.0
16666                 NaN  1.0
16667                 NaN  1.0
16692                 NaN  1.0
17263                 NaN  1.0
17500                 NaN  1.0
18165                 NaN  1.0
18333                 1.0  NaN
19484                 NaN  1.0
19730                 1.0  NaN
20166                 NaN  1.0
20233                 1.0  NaN
20667                 1.0  NaN
20833                 NaN  1.0
23803                 NaN  1.0
33846                 1.0  NaN
37719                 NaN  1.0
39147                 NaN  1.0
39999                 NaN  1.0
51763                 NaN  1.0
63337                 NaN  1.0
81000                 1.0  NaN

[505 rows x 2 columns]
////////////////////////////////////////////////////////////////////////////////////////////////////
                          ID
FLAG_CRED_HIPO             N      Y
INGRESOS_COSOLICITANTE
0.000000                75.0  137.0
16.120001                NaN    1.0
189.000000               NaN    1.0
240.000000               NaN    1.0
242.000000               NaN    1.0
461.000000               NaN    1.0
484.000000               NaN    1.0
505.000000               NaN    1.0
536.000000               1.0    NaN
663.000000               NaN    1.0
688.000000               NaN    1.0
700.000000               NaN    1.0
736.000000               1.0    NaN
754.000000               NaN    2.0
800.000000               NaN    1.0
830.000000               NaN    1.0
913.000000               NaN    1.0
923.000000               NaN    1.0
983.000000               NaN    1.0
985.799988               NaN    1.0
997.000000               NaN    1.0
1000.000000              1.0    NaN
1010.000000              NaN    1.0
1014.000000              NaN    1.0
1030.000000              NaN    1.0
1032.000000              NaN    1.0
1040.000000              NaN    1.0
1041.000000              NaN    1.0
1083.000000              NaN    1.0
1086.000000              NaN    1.0
...                      ...    ...
4983.000000              1.0    NaN
4996.000000              NaN    1.0
5000.000000              NaN    1.0
5063.000000              1.0    NaN
5064.000000              NaN    1.0
5266.000000              1.0    NaN
5296.000000              NaN    1.0
5302.000000              1.0    NaN
5500.000000              NaN    1.0
5624.000000              NaN    1.0
5625.000000              NaN    3.0
5654.000000              NaN    1.0
5701.000000              NaN    1.0
6250.000000              NaN    1.0
6666.000000              1.0    NaN
6667.000000              NaN    1.0
7101.000000              NaN    1.0
7166.000000              NaN    1.0
7210.000000              NaN    1.0
7250.000000              1.0    NaN
7750.000000              1.0    NaN
7873.000000              NaN    1.0
8106.000000              NaN    1.0
8333.000000              NaN    1.0
8980.000000              NaN    1.0
10968.000000             1.0    NaN
11300.000000             1.0    NaN
20000.000000             1.0    1.0
33837.000000             1.0    NaN
41667.000000             1.0    NaN

[287 rows x 2 columns]
////////////////////////////////////////////////////////////////////////////////////////////////////
                       ID
FLAG_CRED_HIPO          N    Y
MONTO_PRESTAMO_MILES
9.0                   1.0  NaN
17.0                  NaN  1.0
25.0                  NaN  2.0
26.0                  NaN  1.0
30.0                  NaN  2.0
35.0                  1.0  NaN
36.0                  NaN  1.0
40.0                  NaN  2.0
42.0                  NaN  1.0
44.0                  NaN  2.0
45.0                  1.0  1.0
46.0                  1.0  NaN
47.0                  NaN  1.0
48.0                  NaN  1.0
50.0                  NaN  4.0
53.0                  NaN  1.0
54.0                  NaN  1.0
55.0                  1.0  3.0
56.0                  NaN  2.0
58.0                  NaN  1.0
59.0                  NaN  1.0
60.0                  1.0  3.0
61.0                  1.0  NaN
62.0                  1.0  NaN
63.0                  1.0  NaN
65.0                  1.0  NaN
66.0                  2.0  2.0
67.0                  2.0  1.0
70.0                  2.0  6.0
71.0                  2.0  3.0
...                   ...  ...
290.0                 1.0  NaN
292.0                 NaN  1.0
296.0                 NaN  1.0
300.0                 NaN  1.0
304.0                 1.0  NaN
308.0                 1.0  NaN
311.0                 1.0  NaN
312.0                 NaN  1.0
315.0                 NaN  1.0
320.0                 1.0  NaN
324.0                 NaN  1.0
330.0                 NaN  1.0
349.0                 1.0  NaN
350.0                 1.0  NaN
360.0                 1.0  NaN
370.0                 NaN  1.0
376.0                 1.0  NaN
380.0                 NaN  1.0
400.0                 NaN  1.0
405.0                 NaN  1.0
436.0                 NaN  1.0
480.0                 1.0  2.0
490.0                 NaN  1.0
495.0                 1.0  NaN
496.0                 NaN  1.0
500.0                 1.0  NaN
570.0                 1.0  NaN
600.0                 NaN  2.0
650.0                 NaN  1.0
700.0                 NaN  1.0

[203 rows x 2 columns]
////////////////////////////////////////////////////////////////////////////////////////////////////
                         ID
FLAG_CRED_HIPO            N      Y
PLAZO_PRESTAMO_MESES
12.0                    NaN    1.0
36.0                    2.0    NaN
60.0                    NaN    2.0
84.0                    1.0    3.0
120.0                   NaN    3.0
180.0                  15.0   29.0
240.0                   1.0    3.0
300.0                   5.0    8.0
360.0                 153.0  359.0
480.0                   9.0    6.0
////////////////////////////////////////////////////////////////////////////////////////////////////
                           ID
FLAG_CRED_HIPO              N    Y
FLAG_HISTORIAL_CREDITICIO
Bueno                      97  378
Malo                       82    7
////////////////////////////////////////////////////////////////////////////////////////////////////
                ID
FLAG_CRED_HIPO   N    Y
TIPO_ZONA
Rural           69  110
Semiurban       54  179
Urban           69  133
////////////////////////////////////////////////////////////////////////////////////////////////////

In [7]:
## INiciamos el proceso de LIMPIADO DE NULOS
process_1.clean_data_v1()
process_2.clean_data_v2()

In [8]:
process_1.verificator_null()

DATA LIMPIA DE NULOS

In [9]:
process_2.verificator_null()

DATA LIMPIA DE NULOS

In [10]:
process_1.analysis_percentile(['INGRESOS_COSOLICITANTE', 'MONTO_PRESTAMO_MILES', 'INGRESOS_SOLICITANTE'], 95)
print("=="*5)
process_2.analysis_percentile(['INGRESOS_COSOLICITANTE', 'MONTO_PRESTAMO_MILES', 'INGRESOS_SOLICITANTE'], 95)

INGRESOS_COSOLICITANTE  recortada, nuevo masximo : 5144.799999999996
MONTO_PRESTAMO_MILES  recortada, nuevo masximo : 297.7999999999997
INGRESOS_SOLICITANTE  recortada, nuevo masximo : 14583.0
==========
INGRESOS_COSOLICITANTE  recortada, nuevo masximo : 5144.799999999996
MONTO_PRESTAMO_MILES  recortada, nuevo masximo : 297.7999999999997
INGRESOS_SOLICITANTE  recortada, nuevo masximo : 14583.0

In [11]:
process_1.factorize_data(['INGRESOS_COSOLICITANTE', 'INGRESOS_SOLICITANTE'], cut=True)
print("=="*5)
process_2.factorize_data(['INGRESOS_COSOLICITANTE', 'INGRESOS_SOLICITANTE'], cut=True)

INGRESOS_COSOLICITANTE factorizada
INGRESOS_SOLICITANTE factorizada
==========
INGRESOS_COSOLICITANTE factorizada
INGRESOS_SOLICITANTE factorizada

In [12]:
process_1.factorize_data(['MONTO_PRESTAMO_MILES'], cut=True, range_data=range(0, 500, 25))
print("=="*5)
process_2.factorize_data(['MONTO_PRESTAMO_MILES'], cut=True, range_data=range(0, 500, 25))

MONTO_PRESTAMO_MILES factorizada
==========
MONTO_PRESTAMO_MILES factorizada

In [14]:
process_1.factorize_data(
    ['SEXO', 'FLAG_CASADO', 'NRO_DEPENDIENTES', 'EDUCACION', 'FLAG_CRED_HIPO',
     'FLAG_TRAB_INDEP', 'PLAZO_PRESTAMO_MESES', 'FLAG_HISTORIAL_CREDITICIO', 'TIPO_ZONA'])
print("=="*5)
process_2.factorize_data(
    ['SEXO', 'FLAG_CASADO', 'NRO_DEPENDIENTES', 'EDUCACION', 'FLAG_CRED_HIPO',
     'FLAG_TRAB_INDEP', 'PLAZO_PRESTAMO_MESES', 'FLAG_HISTORIAL_CREDITICIO', 'TIPO_ZONA'])

SEXO factorizada
FLAG_CASADO factorizada
NRO_DEPENDIENTES factorizada
EDUCACION factorizada
FLAG_CRED_HIPO factorizada
FLAG_TRAB_INDEP factorizada
PLAZO_PRESTAMO_MESES factorizada
FLAG_HISTORIAL_CREDITICIO factorizada
TIPO_ZONA factorizada
==========
SEXO factorizada
FLAG_CASADO factorizada
NRO_DEPENDIENTES factorizada
EDUCACION factorizada
FLAG_CRED_HIPO factorizada
FLAG_TRAB_INDEP factorizada
PLAZO_PRESTAMO_MESES factorizada
FLAG_HISTORIAL_CREDITICIO factorizada
TIPO_ZONA factorizada

In [15]:
process_1.save_data(sufijo='_1')
process_1.data.head()

,SEXO,FLAG_CASADO,NRO_DEPENDIENTES,EDUCACION,FLAG_TRAB_INDEP,INGRESOS_SOLICITANTE,INGRESOS_COSOLICITANTE,MONTO_PRESTAMO_MILES,PLAZO_PRESTAMO_MESES,FLAG_HISTORIAL_CREDITICIO,TIPO_ZONA,FLAG_CRED_HIPO
0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,1,0,0,1,1,0,0,0,1,1
2,0,1,0,0,1,2,0,1,0,0,0,0
3,0,1,0,1,0,2,2,2,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0

In [16]:
process_2.save_data(sufijo='_2')
process_2.data.head()

,SEXO,FLAG_CASADO,NRO_DEPENDIENTES,EDUCACION,FLAG_TRAB_INDEP,INGRESOS_SOLICITANTE,INGRESOS_COSOLICITANTE,MONTO_PRESTAMO_MILES,PLAZO_PRESTAMO_MESES,FLAG_HISTORIAL_CREDITICIO,TIPO_ZONA,FLAG_CRED_HIPO
0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,1,0,0,1,1,0,0,0,1,1
2,0,1,0,0,1,2,0,1,0,0,0,0
3,0,1,0,1,0,2,2,2,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0