In [1]:
#Carga de datos
import pandas as pd
data_1 = pd.read_csv('CLEAN_credito_1.csv', encoding= "ISO-8859-1", sep=",")
data_1.head()

,SEXO,FLAG_CASADO,NRO_DEPENDIENTES,EDUCACION,FLAG_TRAB_INDEP,INGRESOS_SOLICITANTE,INGRESOS_COSOLICITANTE,MONTO_PRESTAMO_MILES,PLAZO_PRESTAMO_MESES,FLAG_HISTORIAL_CREDITICIO,TIPO_ZONA,FLAG_CRED_HIPO
0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,1,0,0,1,1,0,0,0,1,1
2,0,1,0,0,1,2,0,1,0,0,0,0
3,0,1,0,1,0,2,2,2,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0

In [2]:
data_2 = pd.read_csv('CLEAN_credito_2.csv', encoding= "ISO-8859-1", sep=",")
data_2.head()

,SEXO,FLAG_CASADO,NRO_DEPENDIENTES,EDUCACION,FLAG_TRAB_INDEP,INGRESOS_SOLICITANTE,INGRESOS_COSOLICITANTE,MONTO_PRESTAMO_MILES,PLAZO_PRESTAMO_MESES,FLAG_HISTORIAL_CREDITICIO,TIPO_ZONA,FLAG_CRED_HIPO
0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,1,0,0,1,1,0,0,0,1,1
2,0,1,0,0,1,2,0,1,0,0,0,0
3,0,1,0,1,0,2,2,2,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0

In [3]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
import warnings
warnings.filterwarnings("ignore")

class Modelation:
    def __init__(self, data):
        self.data = data.copy()
        self.arbol = None
        self.split_data()
        
    def split_data(self):
        X_data = self.data.drop(['FLAG_CRED_HIPO'], axis=1)
        y_data = self.data['FLAG_CRED_HIPO']
        self.X_train, self.X_test, self.y_train, self.y_test = train_test_split(
            X_data, 
            y_data, 
            train_size=0.7, 
            random_state=20
        )
    
    def run_forest(self, max_depth=7):
        self.arbol = RandomForestClassifier(
            n_estimators=100, max_depth=max_depth, n_jobs=2, 
            random_state=20, min_samples_split=2)
        self.arbol.fit(self.X_train, self.y_train)
    
    def print_result(self):
        predict_train = self.arbol.predict(self.X_train)
        predict_test = self.arbol.predict(self.X_test)
        print("MATRZI DE CONFUSION")
        print(confusion_matrix(self.y_train, predict_train))
        print("----"*5)
        print("exactitud data TRAIN : ", accuracy_score(self.y_train, predict_train))
        print("exactitud data TEST : ", accuracy_score(self.y_test, predict_test))

In [4]:
model_1 = Modelation(data_1)
model_2 = Modelation(data_2)

In [5]:
#Analisis de model_1 donde se reemplazo los valores categoricos por su moda
model_1.run_forest()
model_1.print_result()

MATRZI DE CONFUSION
[[306   0]
 [ 57  66]]
--------------------
exactitud data TRAIN :  0.867132867133
exactitud data TEST :  0.783783783784

In [6]:
model_1.run_forest(max_depth=10)
model_1.print_result()

MATRZI DE CONFUSION
[[306   0]
 [ 21 102]]
--------------------
exactitud data TRAIN :  0.951048951049
exactitud data TEST :  0.783783783784

In [7]:
#Analisis de model_1 donde se reemplazo los valores categoricos por su moda
model_2.run_forest()
model_2.print_result()

MATRZI DE CONFUSION
[[304   2]
 [ 49  74]]
--------------------
exactitud data TRAIN :  0.881118881119
exactitud data TEST :  0.794594594595

In [8]:
model_2.run_forest(max_depth=10)
model_2.print_result()

MATRZI DE CONFUSION
[[306   0]
 [ 18 105]]
--------------------
exactitud data TRAIN :  0.958041958042
exactitud data TEST :  0.789189189189