# INTRODUCCIÓN

In [15]:
print("Hola Mundo", "Michael")

Hola Mundo Michael

In [16]:
??print("Hola Mundo")

### 1. Variables

In [4]:
int_var = 1
str_var = "Michael Larico"
float_var = 0.25

print( int_var, type (int_var))
print( str_var, type (str_var))
print( float_var, type (float_var))

1 <class 'int'>
Michael Larico <class 'str'>
0.25 <class 'float'>

### 2. Operaciones Básicas
(Suma, resta, multiplicación, división)

In [6]:
v1 = 25 + 40
v2 = 30 - 50
v3 = 20.5 * 5
v4 = 30 / 10

print(v1, v2, v3, v4)

65 -20 102.5 3.0

In [17]:
v5 = 4 % 3
print(v5)

1

### 3. Conversión de tipos de datos

In [10]:
int_eight = 8
str_eight = str(int_eight)
int_eight = int(str_eight)
print (str_eight, type(str_eight), int_eight, type(int_eight))

8 <class 'str'> 8 <class 'int'>

In [11]:
int("Michael")

ValueError: invalid literal for int() with base 10: 'Michael'

### 4. Listas

In [12]:
lista_1 = [] #Lista Vacía
lista_1.append('Nombre')
lista_1.append("Machine Learning")
lista_1.append("python")

print(lista_1)

['Nombre', 'Machine Learning', 'python']

In [13]:
lista_1 = ["Nombre", "Machine Learning", "python"]
print(lista_1)

['Nombre', 'Machine Learning', 'python']

In [20]:
lista_int = [1, 2, 3, 4, 5, 6, 7, 8]
print(lista_int)

[1, 2, 3, 4, 5, 6, 7, 8]

In [22]:
lista_int = range(8)
print(list(lista_int))

[0, 1, 2, 3, 4, 5, 6, 7]

In [23]:
lista_2 = ['Python', 40.5, 1, "Abril"]
print(lista_2)

['Python', 40.5, 1, 'Abril']

In [24]:
int_months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
index_four = int_months[4]
print(index_four)

5

### 5. Loops

In [26]:
for elem in int_months:
    print(elem)

1
2
3
4
5
6
7
8
9
10
11
12

### 5. Conditionals

In [27]:
for elem in int_months:
    if (elem % 2 == 0):
        print(elem)

2
4
6
8
10
12

In [28]:
inta = [1 , 2, 4, 5, 6]
stra = ["a", "b", "c", "d"]

mix = inta + stra
print(mix)

[1, 2, 4, 5, 6, 'a', 'b', 'c', 'd']

### Functions

In [35]:
def print_name(name):
    print(name)

In [32]:
print_name("Michael")

Michael

1er ejercicio: f(n) -> [] con n elementos

In [1]:
def f(n):
    return (list(range(n)))

In [2]:
f(20)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

2do ejercicio: calculadora(a, b, operador) -> Parametros: a, b y operador: "suma", "resta", "multiplicación" o "división"

In [3]:
def calculadora (a, b, operador):
    if operador == "suma":
        return (a + b)
    elif operador == "resta":
        return (a - b)
    elif operador == "multiplicación":
        return (a * b)
    elif operador == "división":
        return (a / b)
    else:
        return "Operador no permitido"

In [8]:
calculadora(4, 5, "división")

0.8