In [1]:
from sklearn.neural_network import MLPClassifier
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
# graficos incrustados
%matplotlib inline

#Carga de los CSV
BBVA_data = pd.read_csv('train_clientes.csv', header=0)
print("Data Train: ", BBVA_data.shape)
BBVA_test = pd.read_csv('test_clientes.csv', header=0)
print("Data Test:  ", BBVA_test.shape)

Data Train:  (70000, 53)
Data Test:   (30000, 52)

In [2]:
def completar_data(BBVA):
    if BBVA.isnull().any().any():
        tipos = BBVA.columns.to_series().groupby(BBVA.dtypes).groups
        ctext = tipos[np.dtype('object')]
        columnas = BBVA.columns  # lista de todas las columnas
        cnum = list(set(columnas) - set(ctext))
        #COmpletando los valores nulos de colummnas numericas con la media
        for c in cnum:
            BBVA[c] = BBVA[c].fillna(-5)
        # Completando valores nulos de columnas categóricas con la moda
        for c in ctext:
            BBVA[c] = BBVA[c].fillna('Desconocido')
        print("Clean Data Test: ", BBVA.shape, BBVA.isnull().any().any())

completar_data(BBVA_data)
completar_data(BBVA_test)

Clean Data Test:  (70000, 53) False
Clean Data Test:  (30000, 52) False

In [3]:
from sklearn import preprocessing

EDAD_RANGE = pd.cut(BBVA_data['EDAD'], range(-5, 150, 10))
EDAD2, _ = pd.factorize(EDAD_RANGE)
fit_edad = preprocessing.LabelEncoder().fit(EDAD2)

ANTIGUEDAD_RANGE = pd.cut(BBVA_data['ANTIGUEDAD'], range(-2 ,20 , 2))
ANTIGUEDAD2, _ = pd.factorize(ANTIGUEDAD_RANGE)
fit_antiguedad = preprocessing.LabelEncoder().fit(ANTIGUEDAD2)

fit_ingreso = preprocessing.LabelEncoder().fit(BBVA_data['RANG_INGRESO'])
fit_flag = preprocessing.LabelEncoder().fit(BBVA_data['FLAG_LIMA_PROVINCIA'])
fit_pasivo = preprocessing.LabelEncoder().fit(BBVA_data['RANG_SDO_PASIVO_MENOS0'])
fit_producto = preprocessing.LabelEncoder().fit(BBVA_data['RANG_NRO_PRODUCTOS_MENOS0'])

In [4]:
def new_factorizar_data(BBVA):
    EDAD_RANGE = pd.cut(BBVA['EDAD'], range(-5, 150, 10))
    EDAD2, _ = pd.factorize(EDAD_RANGE)
    BBVA['EDAD'] = fit_edad.transform(EDAD2)
    
    ANTIGUEDAD_RANGE = pd.cut(BBVA['ANTIGUEDAD'], range(-2 ,20 , 2))
    ANTIGUEDAD2, _ = pd.factorize(ANTIGUEDAD_RANGE)
    BBVA['ANTIGUEDAD'] = fit_antiguedad.transform(ANTIGUEDAD2)
    
    BBVA['RANG_INGRESO'] = fit_ingreso.transform(BBVA['RANG_INGRESO'])
    BBVA['FLAG_LIMA_PROVINCIA'] = fit_flag.transform(BBVA['FLAG_LIMA_PROVINCIA'])
    BBVA['RANG_SDO_PASIVO_MENOS0'] = fit_pasivo.transform(BBVA['RANG_SDO_PASIVO_MENOS0'])
    BBVA['RANG_NRO_PRODUCTOS_MENOS0'] = fit_producto.transform(BBVA['RANG_NRO_PRODUCTOS_MENOS0'])

new_factorizar_data(BBVA_data)
new_factorizar_data(BBVA_test)

In [5]:
BBVA_data

,ID_CORRELATIVO,CODMES,FLG_BANCARIZADO,RANG_INGRESO,FLAG_LIMA_PROVINCIA,EDAD,ANTIGUEDAD,ATTRITION,RANG_SDO_PASIVO_MENOS0,SDO_ACTIVO_MENOS0,...,NRO_ENTID_SSFF_MENOS2,NRO_ENTID_SSFF_MENOS3,NRO_ENTID_SSFF_MENOS4,NRO_ENTID_SSFF_MENOS5,FLG_SDO_OTSSFF_MENOS0,FLG_SDO_OTSSFF_MENOS1,FLG_SDO_OTSSFF_MENOS2,FLG_SDO_OTSSFF_MENOS3,FLG_SDO_OTSSFF_MENOS4,FLG_SDO_OTSSFF_MENOS5
0,35653,201208,1,6,1,1,1,0,9,0,...,1,1,1,1,1,0,0,0,0,0
1,66575,201208,1,3,2,2,2,0,1,0,...,1,1,1,1,0,0,0,0,0,0
2,56800,201208,1,1,2,2,3,0,2,0,...,0,0,0,0,0,0,0,0,0,0
3,8410,201208,1,4,2,3,1,0,3,0,...,3,3,3,3,1,1,1,1,1,1
4,6853,201208,1,0,1,1,2,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5,22240,201208,0,2,1,2,2,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6,86930,201208,1,4,2,4,2,0,0,0,...,3,2,2,2,1,1,1,1,1,1
7,88272,201208,0,0,2,1,2,0,8,0,...,0,0,0,0,0,0,0,0,0,0
8,94608,201208,0,0,1,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,26877,201208,1,6,1,2,4,0,7,0,...,5,5,5,5,0,1,0,1,1,1
10,53259,201208,1,3,1,2,4,0,1,0,...,3,4,4,4,1,1,1,1,1,1
11,89278,201208,1,5,1,4,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
12,71204,201208,1,6,1,2,5,0,5,0,...,2,2,2,2,1,1,1,1,1,1
13,27248,201208,1,1,1,2,3,0,3,22060,...,5,5,5,5,1,1,1,1,1,1
14,98286,201208,1,5,1,2,2,0,2,0,...,1,2,2,1,1,1,1,1,1,1
15,53104,201208,0,0,1,3,6,0,2,0,...,0,0,0,0,0,0,0,0,0,0
16,14361,201208,1,1,1,2,2,0,1,0,...,3,3,3,3,1,1,1,1,1,1
17,77160,201208,1,1,1,3,2,0,0,0,...,1,1,1,1,1,1,1,1,1,1
18,5720,201208,1,3,1,2,6,0,4,0,...,1,1,2,2,0,0,0,0,0,0
19,85218,201208,1,4,2,4,2,0,0,5810,...,7,7,6,5,1,1,1,1,1,1
20,11752,201208,1,1,2,4,2,0,0,0,...,2,2,2,2,1,1,1,1,1,1
21,13112,201208,0,0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
22,98898,201208,0,1,1,1,2,0,2,0,...,0,0,0,0,0,0,0,0,0,0
23,45338,201208,1,2,1,5,2,0,1,0,...,0,0,0,0,0,0,0,0,0,0
24,79319,201208,1,6,2,2,3,0,8,9790,...,1,1,1,1,0,0,0,0,0,0
25,10364,201208,1,7,2,2,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
26,56111,201208,1,9,1,2,4,0,7,0,...,3,3,3,3,1,1,1,1,0,0
27,82206,201208,1,2,2,1,2,0,1,0,...,1,1,1,1,1,1,1,1,1,1
28,50435,201208,1,1,2,2,0,1,0,0,...,5,5,4,4,1,1,1,1,1,1
29,71968,201208,0,1,1,3,2,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69970,6463,201208,1,2,1,2,2,0,1,0,...,0,0,0,0,0,0,0,0,0,0
69971,31821,201208,1,2,2,2,6,0,0,7030,...,2,2,2,2,1,1,1,1,1,1
69972,32667,201208,0,1,0,0,2,0,4,0,...,0,0,0,0,0,0,0,0,0,0
69973,84896,201208,1,2,1,0,2,0,14,0,...,1,1,1,1,0,0,0,0,0,0
69974,51406,201208,1,1,1,2,5,0,4,0,...,2,2,2,2,1,1,1,1,1,1
69975,69676,201208,1,1,1,6,2,0,0,0,...,2,2,2,2,1,1,1,1,1,1
69976,66876,201208,1,1,1,3,2,0,9,0,...,1,1,1,1,1,1,1,1,1,1
69977,90254,201208,1,1,2,5,2,0,2,0,...,2,2,2,2,1,1,1,1,1,1
69978,15836,201208,1,1,2,2,2,0,1,15570,...,4,4,4,3,1,1,1,1,1,1
69979,77513,201208,1,6,1,2,1,0,2,7860,...,6,6,6,6,1,1,1,1,1,1
69980,26340,201208,1,5,2,2,2,1,2,0,...,1,1,1,1,0,0,0,0,0,0
69981,55556,201208,1,1,1,4,2,0,12,0,...,0,0,0,0,0,0,0,0,0,0
69982,36038,201208,1,1,2,3,2,0,7,10900,...,3,3,3,3,0,0,0,0,0,0
69983,23216,201208,1,2,2,2,1,0,0,220,...,3,3,3,3,0,1,1,1,0,1
69984,49833,201208,0,1,1,3,2,0,4,0,...,0,0,0,0,0,0,0,0,0,0
69985,79257,201208,0,1,1,1,1,0,4,0,...,0,0,0,0,0,0,0,0,0,0
69986,49426,201208,1,2,2,2,3,0,1,2020,...,2,2,2,1,1,1,1,1,0,0
69987,88379,201208,1,4,1,5,1,0,2,0,...,5,5,5,5,1,1,1,1,1,1
69988,24555,201208,0,1,2,1,2,1,1,0,...,0,0,0,0,0,0,0,0,0,0
69989,30132,201208,1,7,2,2,1,0,7,34620,...,2,2,2,2,0,0,0,0,0,0
69990,81559,201208,1,7,1,4,4,0,11,74410,...,0,0,0,0,0,0,0,0,0,0
69991,98207,201208,0,3,1,1,4,0,8,0,...,0,0,0,0,0,0,0,0,0,0
69992,95667,201208,1,9,1,2,6,0,1,660,...,5,5,5,5,1,1,1,1,1,1
69993,38669,201208,0,0,0,0,2,1,1,0,...,0,0,0,0,0,0,0,0,0,0
69994,22780,201208,1,1,2,2,2,1,1,0,...,7,7,7,7,1,1,1,1,1,1
69995,43938,201208,0,1,1,0,2,0,1,0,...,0,0,0,0,0,0,0,0,0,0
69996,37004,201208,1,3,2,2,2,0,0,150,...,3,3,3,3,0,0,0,0,0,1
69997,3896,201208,1,3,2,6,3,0,5,5360,...,4,4,4,4,1,1,1,1,1,1
69998,72060,201208,1,6,1,2,4,0,1,0,...,3,3,3,3,1,1,1,1,1,1
69999,34991,201208,1,5,1,2,1,0,3,0,...,2,2,2,2,0,0,0,0,0,0

In [6]:
BBVA_test

,ID_CORRELATIVO,CODMES,FLG_BANCARIZADO,RANG_INGRESO,FLAG_LIMA_PROVINCIA,EDAD,ANTIGUEDAD,RANG_SDO_PASIVO_MENOS0,SDO_ACTIVO_MENOS0,SDO_ACTIVO_MENOS1,...,NRO_ENTID_SSFF_MENOS2,NRO_ENTID_SSFF_MENOS3,NRO_ENTID_SSFF_MENOS4,NRO_ENTID_SSFF_MENOS5,FLG_SDO_OTSSFF_MENOS0,FLG_SDO_OTSSFF_MENOS1,FLG_SDO_OTSSFF_MENOS2,FLG_SDO_OTSSFF_MENOS3,FLG_SDO_OTSSFF_MENOS4,FLG_SDO_OTSSFF_MENOS5
0,47411,201208,0,3,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,39861,201208,1,3,2,1,1,1,0,0,...,2,2,2,2,0,0,0,0,0,1
2,38898,201208,1,4,1,2,2,4,0,0,...,3,3,3,3,1,1,1,1,1,1
3,50927,201208,1,2,1,2,2,7,0,0,...,1,1,0,0,0,0,0,0,0,0
4,32969,201208,1,3,1,3,3,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,89661,201208,1,3,2,2,1,0,0,0,...,3,3,3,3,1,1,1,1,1,1
6,12197,201208,1,2,1,2,1,2,0,0,...,2,2,2,2,1,1,1,1,1,1
7,71520,201208,1,2,1,2,2,8,340,790,...,2,1,2,2,1,1,1,0,1,1
8,59759,201208,1,0,1,3,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,36743,201208,1,4,1,3,1,0,0,0,...,3,3,3,2,1,1,1,1,1,1
10,10736,201208,1,4,1,4,3,0,0,0,...,6,5,6,6,1,1,1,1,1,1
11,5106,201208,1,1,1,1,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,44506,201208,1,3,2,2,1,3,0,0,...,3,3,3,3,0,1,1,1,1,1
13,47767,201208,0,2,1,3,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
14,74686,201208,1,3,1,3,4,2,0,0,...,6,6,6,5,1,1,1,1,1,1
15,63023,201208,0,3,2,4,1,7,0,0,...,0,0,0,0,0,0,0,0,0,0
16,13584,201208,0,1,1,3,3,1,0,0,...,0,0,0,0,0,0,0,0,0,0
17,317,201208,0,0,1,2,1,3,0,0,...,0,0,0,0,0,0,0,0,0,0
18,62570,201208,1,1,2,1,1,2,14030,10440,...,4,5,4,4,1,1,1,1,1,1
19,68244,201208,1,6,1,1,3,2,0,0,...,2,2,2,2,1,1,1,1,1,1
20,72881,201208,1,1,1,4,5,1,4910,5090,...,2,2,2,2,0,0,0,0,0,0
21,18280,201208,0,9,2,2,1,7,0,0,...,0,0,0,0,0,0,0,0,0,0
22,70682,201208,1,2,1,2,2,11,860,810,...,2,2,2,2,0,0,0,0,0,0
23,79902,201208,0,0,1,2,6,1,0,0,...,0,0,0,0,0,0,0,0,0,0
24,35073,201208,1,4,1,1,1,1,11390,11570,...,5,3,3,3,1,1,1,1,1,1
25,84331,201208,1,4,2,2,3,1,0,0,...,2,2,2,2,1,1,1,1,1,1
26,70921,201208,1,6,1,4,3,2,0,0,...,2,2,2,2,0,0,0,0,0,0
27,82245,201208,1,2,1,2,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1
28,17714,201208,1,1,1,2,4,2,0,0,...,4,4,4,4,1,1,1,1,1,1
29,13993,201208,1,6,1,2,5,5,4390,2910,...,2,2,2,2,0,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29970,65046,201208,0,0,1,1,1,9,0,0,...,0,0,0,0,0,0,0,0,0,0
29971,98929,201208,1,4,2,2,1,6,0,0,...,5,5,5,5,1,1,1,1,1,1
29972,23778,201208,0,0,0,0,1,7,0,0,...,0,0,0,0,0,0,0,0,0,0
29973,46279,201208,1,1,2,7,1,2,0,0,...,1,0,1,1,0,0,0,0,0,0
29974,39757,201208,0,0,1,6,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29975,52971,201208,1,1,1,2,1,2,0,0,...,2,2,2,2,1,1,1,1,1,1
29976,18673,201208,1,3,2,2,1,5,0,0,...,3,3,3,3,0,0,0,1,1,0
29977,56216,201208,1,2,2,2,2,0,2550,2690,...,8,8,8,8,1,1,1,1,1,1
29978,55403,201208,0,1,2,2,1,6,0,0,...,0,0,0,0,0,0,0,0,0,0
29979,28478,201208,1,3,2,1,1,2,0,0,...,1,1,1,1,0,0,0,0,0,0
29980,35942,201208,1,4,1,2,2,8,14390,0,...,2,2,2,2,1,1,1,1,1,1
29981,92274,201208,0,0,2,3,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29982,86116,201208,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
29983,49190,201208,1,6,1,3,6,1,1750,2460,...,3,1,1,1,1,1,1,0,0,0
29984,43805,201208,1,5,1,3,3,2,0,0,...,1,1,0,0,0,0,0,0,0,0
29985,87197,201208,1,6,1,2,6,3,124250,125130,...,1,1,0,1,0,0,0,0,0,0
29986,52082,201208,1,4,2,3,2,4,9720,10000,...,1,0,0,0,0,0,0,0,0,0
29987,6476,201208,1,0,2,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29988,86874,201208,1,7,1,1,4,1,0,0,...,4,4,3,3,1,1,1,1,1,1
29989,57263,201208,1,2,1,4,4,1,0,0,...,7,8,8,7,1,1,1,1,1,1
29990,23461,201208,1,1,1,2,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1
29991,84612,201208,1,0,2,1,1,1,0,0,...,2,2,2,2,0,0,0,0,0,0
29992,65333,201208,1,3,1,2,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1
29993,96510,201208,0,1,2,3,1,2,0,0,...,0,0,0,0,0,0,0,0,0,0
29994,38308,201208,1,4,1,3,4,1,1230,1500,...,1,1,1,1,0,0,0,0,0,0
29995,82121,201208,1,7,1,2,3,6,13510,14050,...,3,3,3,2,1,1,1,1,1,1
29996,9292,201208,1,4,1,3,9,1,0,0,...,3,3,3,3,1,1,1,1,1,1
29997,71044,201208,1,3,2,2,5,1,0,0,...,2,3,3,3,1,1,1,1,1,1
29998,14668,201208,1,2,2,4,1,0,0,0,...,1,1,1,1,1,1,1,1,1,1
29999,29621,201208,1,4,1,2,6,2,4840,5260,...,3,3,3,3,1,1,1,1,1,1

In [8]:
BBVA_data.to_csv('labelencoder_train_clientes.csv')
BBVA_test.to_csv('labelencoder_test_clientes.csv')

AttributeError: 'numpy.ndarray' object has no attribute 'to_csv'