In [1]:
#calculo
import numpy as np
import pandas as pd

#grafico
import matplotlib.pyplot as plt
%matplotlib inline

#propios utilitarios
from utils import *

data_perfil = pd.read_csv('data/02dataBasePerfilRec.csv')
data_perfil.head()

,codCliente,rangoEdad,rangoIngreso,flagGenero,flagLimaProvCliente,ubigeoCliente,rangoCtdProdAct,rangoCtdProdPas,rangoCtdProdSeg,flagBxi,saldoTcEntidad1,saldoTcEntidad2,saldoTcEntidad3,saldoTcEntidad4
0,24041,Rango2,Rango2,1,0,360.0,Rango1,Rango1,Rango1,1,NaN,NaN,NaN,NaN
1,9040,Rango4,Rango6,1,1,260.0,Rango1,Rango1,Rango1,1,Rango1,Rango1,Rango1,Rango1
2,18233,Rango2,Rango1,1,1,273.0,Rango1,Rango2,Rango1,1,Rango2,Rango1,Rango1,Rango1
3,7226,Rango5,Rango3,0,1,241.0,Rango1,Rango2,Rango1,1,Rango1,Rango2,Rango1,Rango2
4,21617,Rango3,Rango2,1,1,268.0,Rango1,Rango1,Rango1,0,NaN,NaN,NaN,NaN

In [2]:
null_verificator(data_perfil)

                     Nulos  Cantidad Tipo Col
codCliente           False         0    int64
rangoEdad             True        57   object
rangoIngreso          True      1263   object
flagGenero           False         0    int64
flagLimaProvCliente  False         0    int64
ubigeoCliente         True         4  float64
rangoCtdProdAct      False         0   object
rangoCtdProdPas      False         0   object
rangoCtdProdSeg      False         0   object
flagBxi              False         0    int64
saldoTcEntidad1       True      6426   object
saldoTcEntidad2       True      6426   object
saldoTcEntidad3       True      6426   object
saldoTcEntidad4       True      6426   object

In [3]:
data_perfil['rangoIngreso'].value_counts(dropna=False)

Rango1    11003
Rango3     5241
Rango2     4533
Rango6     3930
Rango4     2516
Rango5     1514
NaN        1263
Name: rangoIngreso, dtype: int64

In [4]:
data_perfil['saldoTcEntidad1'].value_counts(dropna=False)

Rango1    15429
NaN        6426
Rango3     2076
Rango2     1731
Rango4     1713
Rango6     1571
Rango5     1054
Name: saldoTcEntidad1, dtype: int64

In [6]:
data_perfil['saldoTcEntidad2'].value_counts(dropna=False)

Rango1    18084
NaN        6426
Rango2     2313
Rango3     1494
Rango5      949
Rango4      734
Name: saldoTcEntidad2, dtype: int64

In [7]:
data_perfil['saldoTcEntidad3'].value_counts(dropna=False)

Rango1    20718
NaN        6426
Rango6      729
Rango2      571
Rango3      561
Rango5      518
Rango4      477
Name: saldoTcEntidad3, dtype: int64

In [8]:
data_perfil['saldoTcEntidad4'].value_counts(dropna=False)

Rango1    18910
NaN        6426
Rango2     1096
Rango3      998
Rango6      975
Rango5      818
Rango4      777
Name: saldoTcEntidad4, dtype: int64

In [18]:
data_perfil['ubigeoCliente'].value_counts(dropna=False).sort_index()

 2.0        5
 3.0        1
 4.0        1
 5.0        3
 6.0       39
 7.0       23
 8.0        1
 9.0        2
 10.0       1
 11.0       1
 12.0       1
 13.0       1
 14.0       3
 15.0       1
 16.0       6
 17.0       1
 18.0       1
 19.0     127
 20.0       4
 21.0       1
 22.0       4
 23.0      99
 24.0       1
 25.0       4
 26.0       7
 27.0       1
 28.0       2
 29.0     135
 30.0      58
 31.0      96
         ...
 391.0      1
 392.0    101
 393.0      1
 394.0     18
 395.0     31
 396.0      1
 397.0      4
 398.0    105
 399.0      6
 400.0      2
 401.0      1
 402.0      9
 403.0     28
 404.0      1
 405.0     47
 406.0      7
 407.0      1
 408.0      1
 409.0      1
 410.0      1
 411.0      1
 412.0      3
 413.0      2
 414.0    120
 415.0      1
 416.0     52
 417.0     13
 418.0      2
 419.0      1
NaN         4
Name: ubigeoCliente, Length: 419, dtype: int64

In [19]:
data_perfil['ubigeoCliente'].fillna(999.0, inplace=True)

In [20]:
for col in [_ for _ in data_perfil.columns if data_perfil[_].isnull().any()]:
    print(col)
    data_perfil[col].fillna('Rango0', inplace=True)

rangoEdad
rangoIngreso
saldoTcEntidad1
saldoTcEntidad2
saldoTcEntidad3
saldoTcEntidad4

In [21]:
null_verificator(data_perfil)

'DATA LIMPIA DE NULOS'

In [22]:
data_perfil.dtypes

codCliente               int64
rangoEdad               object
rangoIngreso            object
flagGenero               int64
flagLimaProvCliente      int64
ubigeoCliente          float64
rangoCtdProdAct         object
rangoCtdProdPas         object
rangoCtdProdSeg         object
flagBxi                  int64
saldoTcEntidad1         object
saldoTcEntidad2         object
saldoTcEntidad3         object
saldoTcEntidad4         object
dtype: object

In [29]:
data_perfil.select_dtypes(include=['object']).head()

,rangoEdad,rangoIngreso,rangoCtdProdAct,rangoCtdProdPas,rangoCtdProdSeg,saldoTcEntidad1,saldoTcEntidad2,saldoTcEntidad3,saldoTcEntidad4
0,Rango2,Rango2,Rango1,Rango1,Rango1,Rango0,Rango0,Rango0,Rango0
1,Rango4,Rango6,Rango1,Rango1,Rango1,Rango1,Rango1,Rango1,Rango1
2,Rango2,Rango1,Rango1,Rango2,Rango1,Rango2,Rango1,Rango1,Rango1
3,Rango5,Rango3,Rango1,Rango2,Rango1,Rango1,Rango2,Rango1,Rango2
4,Rango3,Rango2,Rango1,Rango1,Rango1,Rango0,Rango0,Rango0,Rango0

In [30]:
columnas_rango = list(data_perfil.select_dtypes(include=['object']).columns)
columnas_rango

['rangoEdad',
 'rangoIngreso',
 'rangoCtdProdAct',
 'rangoCtdProdPas',
 'rangoCtdProdSeg',
 'saldoTcEntidad1',
 'saldoTcEntidad2',
 'saldoTcEntidad3',
 'saldoTcEntidad4']

In [36]:
for col in columnas_rango:
    data_perfil[col] = data_perfil[col].apply(lambda x: int(x[-1]))

In [37]:
data_perfil.head()

,codCliente,rangoEdad,rangoIngreso,flagGenero,flagLimaProvCliente,ubigeoCliente,rangoCtdProdAct,rangoCtdProdPas,rangoCtdProdSeg,flagBxi,saldoTcEntidad1,saldoTcEntidad2,saldoTcEntidad3,saldoTcEntidad4
0,24041,2,2,1,0,360.0,1,1,1,1,0,0,0,0
1,9040,4,6,1,1,260.0,1,1,1,1,1,1,1,1
2,18233,2,1,1,1,273.0,1,2,1,1,2,1,1,1
3,7226,5,3,0,1,241.0,1,2,1,1,1,2,1,2
4,21617,3,2,1,1,268.0,1,1,1,0,0,0,0,0

In [38]:
data_perfil.dtypes

codCliente               int64
rangoEdad                int64
rangoIngreso             int64
flagGenero               int64
flagLimaProvCliente      int64
ubigeoCliente          float64
rangoCtdProdAct          int64
rangoCtdProdPas          int64
rangoCtdProdSeg          int64
flagBxi                  int64
saldoTcEntidad1          int64
saldoTcEntidad2          int64
saldoTcEntidad3          int64
saldoTcEntidad4          int64
dtype: object

In [39]:
data_perfil = reduce_size_data(data_perfil, category=False, default='integer')

Tamaño de uso actual :  3.2044219970703125 MB
-> Int 64 Detected
     codCliente
     rangoEdad
     rangoIngreso
     flagGenero
     flagLimaProvCliente
     rangoCtdProdAct
     rangoCtdProdPas
     rangoCtdProdSeg
     flagBxi
     saldoTcEntidad1
     saldoTcEntidad2
     saldoTcEntidad3
     saldoTcEntidad4
-> Float 64 Detected
     ubigeoCliente
Tamaño de uso final :  0.4578399658203125 MB

In [40]:
data_perfil.dtypes

codCliente             int16
rangoEdad               int8
rangoIngreso            int8
flagGenero              int8
flagLimaProvCliente     int8
ubigeoCliente          int16
rangoCtdProdAct         int8
rangoCtdProdPas         int8
rangoCtdProdSeg         int8
flagBxi                 int8
saldoTcEntidad1         int8
saldoTcEntidad2         int8
saldoTcEntidad3         int8
saldoTcEntidad4         int8
dtype: object

In [41]:
data_perfil.head()

,codCliente,rangoEdad,rangoIngreso,flagGenero,flagLimaProvCliente,ubigeoCliente,rangoCtdProdAct,rangoCtdProdPas,rangoCtdProdSeg,flagBxi,saldoTcEntidad1,saldoTcEntidad2,saldoTcEntidad3,saldoTcEntidad4
0,24041,2,2,1,0,360,1,1,1,1,0,0,0,0
1,9040,4,6,1,1,260,1,1,1,1,1,1,1,1
2,18233,2,1,1,1,273,1,2,1,1,2,1,1,1
3,7226,5,3,0,1,241,1,2,1,1,1,2,1,2
4,21617,3,2,1,1,268,1,1,1,0,0,0,0,0