In [1]:
#calculo
import numpy as np
import pandas as pd

#grafico
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#propios utilitarios
from utils import *
from graphs import *

data = pd.read_csv('data/01dataBaseTrainTrxRec.csv', **set_parameter_csv)
data.head()

,fechaOper,codCliente,codGiro,codEstab,flagLimaProvEstab,ubigeoEstab,ctdTrx,ratingMonto
0,2017-01-29 00:00:00,7649,138.0,43629,1,176.0,1,0.014072
1,2016-12-01 00:00:00,24604,75.0,4326,0,81.0,1,0.001667
2,2017-06-01 00:00:00,15289,75.0,4326,0,81.0,1,0.000127
3,2017-09-22 00:00:00,5190,110.0,59776,1,156.0,1,0.001167
4,2017-05-05 00:00:00,16635,75.0,31043,0,81.0,1,0.047386

In [2]:
null_verificator(data)

                   Nulos  Cantidad Tipo Col
fechaOper          False         0   object
codCliente         False         0    int64
codGiro             True     92686  float64
codEstab           False         0    int64
flagLimaProvEstab  False         0    int64
ubigeoEstab         True     92686  float64
ctdTrx             False         0    int64
ratingMonto        False         0  float64

In [3]:
data.astype('str').describe(include='all')

,fechaOper,codCliente,codGiro,codEstab,flagLimaProvEstab,ubigeoEstab,ctdTrx,ratingMonto
count,1591617,1591617,1591617,1591617,1591617,1591617,1591617,1591617
unique,365,30000,223,74339,2,422,22,723645
top,2017-07-15 00:00:00,21426,75.0,24539,1,175.0,1,0.08333333333333333
freq,7303,730,322667,12644,1286691,173180,1499771,309

In [4]:
data['ratingMonto'].describe()

count    1.591617e+06
mean     1.318383e-02
std      3.236438e-02
min      2.984905e-06
25%      1.598366e-03
50%      4.199563e-03
75%      1.152572e-02
max      1.000000e+00
Name: ratingMonto, dtype: float64

## Analisis de nulos

In [6]:
#Validacion de que los mismos que tienen nulos los codgios de giro tambien tienen nulo su ubigeo
data[data['ubigeoEstab'].isnull() & data['codGiro'].isnull()].shape[0] == \
    data[data['ubigeoEstab'].isnull()].shape[0]

True

In [7]:
#Por ello completo nulos con un tipo nuevo de dato
data.fillna(0, inplace=True)

In [8]:
null_verificator(data)

'DATA LIMPIA DE NULOS'

In [9]:
data.shape

(1591617, 8)

In [ ]:
data_ori.groupby(
    by=['ubigeoEstab'], as_index=False
).agg(
    {'ID_CORRELATIVO':'count','ATTRITION':'mean'}
).rename(
    columns={'ID_CORRELATIVO':'FREC', 'ATTRITION': 'RT_CONVERSION'}
)