In [1]:
# importando librerias
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import collections
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import xgboost
import math as mt
import warnings

# Ploting styles
# styles: 'fivethirtyeight', 'classic', 'ggplot', 'seaborn-notebook'
# styles: 'seaborn-poster', 'bmh', 'grayscale', 'seaborn-whitegrid'
matplotlib.style.use('bmh')
%matplotlib inline
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
#print(plt.style.available)
warnings.filterwarnings("ignore")

In [1]:
#propios utilitarios
from utils import *
data_train = pd.read_csv('data/01dataBaseTrainTrxRec.csv', **set_parameter_csv)
data_train.head()

,fechaOper,codCliente,codGiro,codEstab,flagLimaProvEstab,ubigeoEstab,ctdTrx,ratingMonto
0,2017-01-29 00:00:00,7649,138.0,43629,1,176.0,1,0.014072
1,2016-12-01 00:00:00,24604,75.0,4326,0,81.0,1,0.001667
2,2017-06-01 00:00:00,15289,75.0,4326,0,81.0,1,0.000127
3,2017-09-22 00:00:00,5190,110.0,59776,1,156.0,1,0.001167
4,2017-05-05 00:00:00,16635,75.0,31043,0,81.0,1,0.047386

In [13]:
data_train.sort_values(by=['codCliente','codEstab']).head()

,fechaOper,codCliente,codGiro,codEstab,flagLimaProvEstab,ubigeoEstab,ctdTrx,ratingMonto
25041,2017-05-24 00:00:00,1,105.0,39,1,147.0,1,0.084590
522851,2017-03-07 00:00:00,1,105.0,39,1,147.0,1,0.098481
743922,2017-08-20 00:00:00,1,105.0,39,1,147.0,1,0.018126
1272804,2017-05-13 00:00:00,1,105.0,39,1,147.0,1,0.018183
816568,2016-12-22 00:00:00,1,72.0,1194,1,147.0,1,0.031735

In [10]:
pd.concat([
    pd.DataFrame(data_train.groupby(['codCliente'])['ratingMonto'].sum()),
    pd.DataFrame(data_train.groupby(['codCliente'])['ratingMonto'].mean()),
    pd.DataFrame(data_train.groupby(['codCliente'])['ratingMonto'].count())],
    axis=1
)[:5]

            ratingMonto  ratingMonto  ratingMonto
codCliente
1              0.863403     0.023983           36
2              0.540837     0.004545          119
3              0.582373     0.044798           13
4              0.774747     0.004280          181
5              0.621249     0.015152           41

In [12]:
pd.concat([
    pd.DataFrame(data_train.groupby(['codCliente', 'codEstab'])['ratingMonto'].sum()),
    pd.DataFrame(data_train.groupby(['codCliente', 'codEstab'])['ratingMonto'].mean()),
    pd.DataFrame(data_train.groupby(['codCliente', 'codEstab'])['ratingMonto'].count())],
    axis=1
)[:5]

                     ratingMonto  ratingMonto  ratingMonto
codCliente codEstab
1          39           0.219380     0.054845            4
           1194         0.031735     0.031735            1
           1911         0.119995     0.119995            1
           2399         0.009543     0.009543            1
           2425         0.024790     0.012395            2