In [22]:
#calculo
import numpy as np
import pandas as pd

#grafico
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#propios utilitarios
from utils import *
from graphs import *

data_result = pd.read_csv('data/data_result_4.csv', **set_parameter_csv)
data_result.head()

   codCliente  codEstab  prediction
0           1        39    0.023918
1           1      3843    0.019163
2           1      6314    0.008346
3           1     12767    0.009391
4           1     26260    0.009756

In [23]:
data_result.index = data_result[['codCliente','codEstab']].astype(str).sum(axis=1).astype(int)
data_result.head(10)

        codCliente  codEstab  prediction
139              1        39    0.023918
13843            1      3843    0.019163
16314            1      6314    0.008346
112767           1     12767    0.009391
126260           1     26260    0.009756
129255           1     29255    0.006667
135247           1     35247    0.011925
136889           1     36889    0.006667
138534           1     38534    0.009239
146867           1     46867    0.006667

In [24]:
serie_result = data_result['prediction']
serie_result.head(10)

139       0.023918
13843     0.019163
16314     0.008346
112767    0.009391
126260    0.009756
129255    0.006667
135247    0.011925
136889    0.006667
138534    0.009239
146867    0.006667
Name: prediction, dtype: float64

In [25]:
serie_result.mean(), serie_result.min(), serie_result.max()

(0.011797196371733563, -0.00530340809399804, 0.1922508000644564)

In [26]:
data_up = pd.read_csv('data/03dataBaseTestRec.csv', **set_parameter_csv)
data_up.head()

   codClienteCodEstab
0           100001675
1          1000217838
2          1000219843
3          1000231391
4           100032061

In [27]:
serie_result[100001675], serie_result[1000217838], serie_result[1000219843], serie_result[1000231391]

(0.007603456283568917,
 0.0024181328732258804,
 0.008805011737262074,
 0.002780500233984361)

In [28]:
media_result = serie_result.mean()

In [29]:
data_up['ratingMonto'] = data_up['codClienteCodEstab'].apply(lambda x: serie_result.get(x, media_result))

In [30]:
data_up.head()

   codClienteCodEstab  ratingMonto
0           100001675     0.007603
1          1000217838     0.002418
2          1000219843     0.008805
3          1000231391     0.002781
4           100032061     0.001608

In [31]:
data_up.to_csv('data/NOESCALER_kfold3_up_kaggle_2_year_prom_ridge30_serie_media.csv', index=False)