In [2]:
import findspark
findspark.init('/opt/cloudera/parcels/SPARK2-2.3.0.cloudera3-1.cdh5.13.3.p0.458809/lib/spark2')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('victor_joseph_jhonatan').getOrCreate()

In [3]:
spark.sql("show tables from datag3").show()

+--------+--------------------+-----------+
|database|           tableName|isTemporary|
+--------+--------------------+-----------+
|  datag3|       base_clientes|      false|
|  datag3|data_in_base_clie...|      false|
|  datag3|data_in_info_clie...|      false|
|  datag3|       info_clientes|      false|
+--------+--------------------+-----------+

In [4]:
df_base_clientes = spark.sql("select * from datag3.data_in_base_clientes")
df_base_clientes.show()

+---------------+----------+-------------------+-----------------+----+----+------------+---------+-------------+------------------+-----------+
|NUMERODOCUMENTO|    APEPAT|             APEMAT|          NOMBRES|EDAD|SEXO|DEPARTAMENTO|PROVINCIA|     DISTRITO|ESTADOCIVILTITULAR|IncomeLevel|
+---------------+----------+-------------------+-----------------+----+----+------------+---------+-------------+------------------+-----------+
|       41854018|     PINTO|            CONDORI|        JOSE LUIS|  31|   M|        LIMA|     LIMA|         LIMA|                 S|          1|
|       41020654|    TORRES|               NAPA|     LUIS ENRIQUE|  34|   M|        LIMA|     LIMA|         LIMA|                 S|          1|
|       41591162| CASTANEDA|          TANTALEAN|  SHIRLEY JANETTE|  33|   F|        LIMA|     LIMA|         LIMA|                 S|          1|
|       41034300|    TAPARA|             FLORES| MARIELA MERCEDES|  37|   F|        LIMA|     LIMA|         LIMA|                 S|          1|
|       41150271|  CARBAJAL|               RUIZ|ROSALIA HORTENCIA|  35|   F|        LIMA|     LIMA|         LIMA|                 S|          0|
|       41125546|    GRADOS|            CONDORI|       ERIKA ANAI|  37|   F|        LIMA|     LIMA|         LIMA|                CS|          0|
|       41919700|   CONDORI|             HUANCA|       ELIDA SONY|  31|   F|        LIMA|     LIMA|         LIMA|                CS|          0|
|       41678951|   ESCOBAR|CASTANEDA DE SEGAMA|      LUISA YUDIT|  38|   F|        LIMA|     LIMA|          ATE|                CS|          1|
|       41676527| CANGALAYA|         NINAHUANCA|   LOURDES AURORA|  32|   F|        LIMA|     LIMA|  SANTA ANITA|                 S|          0|
|       41062987|      ECHE|         COLMENARES|   MARIA MILAGROS|  33|   F|        LIMA|     LIMA|         BREA|                CS|          0|
|       41004637|   VASQUEZ|         DEL AGUILA| NIURKHA MILUSKHA|  35|   F|        LIMA|     LIMA|         BREA|                CS|          1|
|       41290421|   NORIEGA|            NAVARRO|SAMANTA ROSSMANIS|  33|   F|        LIMA|     LIMA|         BREA|                 S|          0|
|       41133448|     DIEGO|          NAVARRETE|       MARIA NELA|  38|   F|        LIMA|     LIMA|         BREA|                CS|          4|
|       41899533|   PAREDES|           CASTILLO|      STEVEN JOEL|  32|   M|        LIMA|     LIMA|         BREA|                CS|          1|
|       41869858|     MATOS|              FALLA|   JIMMY FRANKLIN|  34|   M|        LIMA|     LIMA|        COMAS|                 S|          0|
|       41316157|    CHACON|           TERRONES|        JACKELINE|  32|   F|        LIMA|     LIMA|        COMAS|                 S|          1|
|       41180904|      BOZA|          PACHERREZ|     CARMEN LUISA|  33|   F|        LIMA|     LIMA|   CHORRILLOS|                 S|          1|
|       41225156|ECHEVARRIA|             FALCON|     MAYITA HYLDA|  33|   F|        LIMA|     LIMA|INDEPENDENCIA|                CS|          1|
|       41564419|  MELENDEZ|               LEON|  MAURO CRISTOBAL|  39|   M|        LIMA|     LIMA|INDEPENDENCIA|                CS|          1|
|       41303274|    ALFARO|              PEREZ|            EDWIN|  35|   M|        LIMA|     LIMA|INDEPENDENCIA|                 S|          0|
+---------------+----------+-------------------+-----------------+----+----+------------+---------+-------------+------------------+-----------+
only showing top 20 rows

In [5]:
df_info_clientes = spark.sql("select * from datag3.data_in_info_clientes")
df_info_clientes.show()

+----------+---+-------+----------+--------+-----------------+------+----------+
|CustomerId|TOB|  Bal01|MaxDqBin01|MtgBal01|NonBankTradesDq01|FlagGB|FlagSample|
+----------+---+-------+----------+--------+-----------------+------+----------+
|  41854018| 44| 604.86|         0|       0|                0|     1|         1|
|  41020654| 79|1006.21|         0|       0|                0|     1|         1|
|  41591162|102| 299.23|         0|       0|                0|     1|         1|
|  41034300|  0| 645.19|         0|       0|                0|     1|         1|
|  41150271|109|    218|         0|       0|                0|     1|         1|
|  41125546|183|  10.32|         0|       0|                0|     1|         1|
|  41919700|172|3517.07|         0|       0|                0|     1|         1|
|  41678951| 76| 216.52|         0|       0|                0|     1|         1|
|  41676527|136|1908.69|         0|       0|                0|     1|         1|
|  41062987|171|1895.19|         0|       0|                0|     1|         1|
|  41004637| 93|1310.43|         0|       0|                0|     1|         1|
|  41290421| 11|2638.83|         0|       0|                0|     1|         0|
|  41133448| 52|7879.69|         0|17744.98|                1|     1|         0|
|  41899533|119|5085.55|         0|       0|                0|     1|         1|
|  41869858|  9| 4871.7|         0|       0|                0|     1|         1|
|  41316157| 17|  193.4|         0|       0|                0|     1|         1|
|  41180904|122|  83.34|         0|       0|                0|     1|         1|
|  41225156| 40| 996.52|         0|       0|                1|     1|         0|
|  41564419|133| 5121.6|         0|       0|                0|     1|         0|
|  41303274| 59|  39.77|         0|       0|                0|     1|         1|
+----------+---+-------+----------+--------+-----------------+------+----------+
only showing top 20 rows

In [6]:
DF3 = df_base_clientes.join(df_info_clientes, [df_base_clientes.NUMERODOCUMENTO==df_info_clientes.CustomerId])
DF3.show()

+---------------+----------+----------+---------------+----+----+------------+---------+--------------------+------------------+-----------+----------+---+--------+----------+--------+-----------------+------+----------+
|NUMERODOCUMENTO|    APEPAT|    APEMAT|        NOMBRES|EDAD|SEXO|DEPARTAMENTO|PROVINCIA|            DISTRITO|ESTADOCIVILTITULAR|IncomeLevel|CustomerId|TOB|   Bal01|MaxDqBin01|MtgBal01|NonBankTradesDq01|FlagGB|FlagSample|
+---------------+----------+----------+---------------+----+----+------------+---------+--------------------+------------------+-----------+----------+---+--------+----------+--------+-----------------+------+----------+
|       41011903|      DIAZ|   CORDOVA|  LORENA ROXANA|  33|   F|        LIMA|     LIMA|   MAGDALENA DEL MAR|                CS|          2|  41011903| 43|  613.21|         0|       0|                0|     1|         1|
|       41011903|      DIAZ|   CORDOVA|  LORENA ROXANA|  33|   F|        LIMA|     LIMA|   MAGDALENA DEL MAR|                CS|          2|  41011903| 43|  613.21|         0|       0|                0|     1|         1|
|       41098867|     PALMA|      RUIZ|   ALEX WILLIAN|  35|   M|        LIMA|     LIMA|VILLA MARIA DEL T...|                CS|          1|  41098867| 48|  568.16|         0|       0|                0|     1|         1|
|       41098867|     PALMA|      RUIZ|   ALEX WILLIAN|  35|   M|        LIMA|     LIMA|VILLA MARIA DEL T...|                CS|          1|  41098867| 48|  568.16|         0|       0|                0|     1|         1|
|       41118388|   VICENTE|     CASIO|         ROSITA|  33|   F|        LIMA|     LIMA|SAN JUAN DE MIRAF...|                 S|          1|  41118388| 12| 2487.05|         0|       0|                0|     1|         1|
|       41118388|   VICENTE|     CASIO|         ROSITA|  33|   F|        LIMA|     LIMA|SAN JUAN DE MIRAF...|                 S|          1|  41118388| 12| 2487.05|         0|       0|                0|     1|         1|
|       41143790|    LIZANA|  CASTILLO|     KELY ROCIO|  33|   F|        LIMA|     LIMA|                 ATE|                CS|          0|  41143790|  6|  798.64|         0|       0|                0|     0|         0|
|       41143790|    LIZANA|  CASTILLO|     KELY ROCIO|  33|   F|        LIMA|     LIMA|                 ATE|                CS|          0|  41143790|  6|  798.64|         0|       0|                0|     0|         0|
|       41195611|   MEMENZA|    ROMERO|MERCEDES ISABEL|  33|   F|        LIMA|     LIMA|           SAN BORJA|                CS|          3|  41195611|217|18814.28|         0|76821.18|                0|     1|         1|
|       41195611|   MEMENZA|    ROMERO|MERCEDES ISABEL|  33|   F|        LIMA|     LIMA|           SAN BORJA|                CS|          3|  41195611|217|18814.28|         0|76821.18|                0|     1|         1|
|       41213957|   MONTOYA|     PARRA|      JOSE LUIS|  33|   M|        LIMA|     LIMA|SAN JUAN DE LURIG...|                 S|          1|  41213957| 20| 1802.66|         0|       0|                0|     0|         1|
|       41213957|   MONTOYA|     PARRA|      JOSE LUIS|  33|   M|        LIMA|     LIMA|SAN JUAN DE LURIG...|                 S|          1|  41213957| 20| 1802.66|         0|       0|                0|     0|         1|
|       41291114|    RIVERA|    HUAMAN|      JOSE LUIS|  36|   M|        LIMA|     LIMA|   VILLA EL SALVADOR|                CS|          0|  41291114|133|  883.97|         0|       0|                0|     1|         1|
|       41291114|    RIVERA|    HUAMAN|      JOSE LUIS|  36|   M|        LIMA|     LIMA|   VILLA EL SALVADOR|                CS|          0|  41291114|133|  883.97|         0|       0|                0|     1|         1|
|       41310042|    GUERRA|   PADILLA|TONINHO ALFONSO|  33|   M|        LIMA|   HUAURA|             HUALMAY|                 S|          0|  41310042| 17| 1032.68|         0|       0|                3|     0|         1|
|       41310042|    GUERRA|   PADILLA|TONINHO ALFONSO|  33|   M|        LIMA|   HUAURA|             HUALMAY|                 S|          0|  41310042| 17| 1032.68|         0|       0|                3|     0|         1|
|       41318259|    CARPIO|  CHICHIPE|      ALEXANDER|  38|   M|        LIMA|     LIMA|SAN MARTIN DE PORRES|                 S|          1|  41318259| 41|  149.81|         0|       0|                1|     1|         1|
|       41318259|    CARPIO|  CHICHIPE|      ALEXANDER|  38|   M|        LIMA|     LIMA|SAN MARTIN DE PORRES|                 S|          1|  41318259| 41|  149.81|         0|       0|                1|     1|         1|
|       41329590|SAPALLANAY|VALENZUELA|EDITH MARCELINA|  33|   F|        LIMA|     LIMA|       PUENTE PIEDRA|                 S|          1|  41329590| 29|13616.95|         0|       0|                0|     0|         1|
|       41329590|SAPALLANAY|VALENZUELA|EDITH MARCELINA|  33|   F|        LIMA|     LIMA|       PUENTE PIEDRA|                 S|          1|  41329590| 29|13616.95|         0|       0|                0|     0|         1|
+---------------+----------+----------+---------------+----+----+------------+---------+--------------------+------------------+-----------+----------+---+--------+----------+--------+-----------------+------+----------+
only showing top 20 rows

In [7]:
DF3.count()

15404

In [8]:
train = DF3.filter("FlagSample == 1")
train.show()

+---------------+----------+----------+---------------+----+----+------------+---------+--------------------+------------------+-----------+----------+---+--------+----------+--------+-----------------+------+----------+
|NUMERODOCUMENTO|    APEPAT|    APEMAT|        NOMBRES|EDAD|SEXO|DEPARTAMENTO|PROVINCIA|            DISTRITO|ESTADOCIVILTITULAR|IncomeLevel|CustomerId|TOB|   Bal01|MaxDqBin01|MtgBal01|NonBankTradesDq01|FlagGB|FlagSample|
+---------------+----------+----------+---------------+----+----+------------+---------+--------------------+------------------+-----------+----------+---+--------+----------+--------+-----------------+------+----------+
|       41011903|      DIAZ|   CORDOVA|  LORENA ROXANA|  33|   F|        LIMA|     LIMA|   MAGDALENA DEL MAR|                CS|          2|  41011903| 43|  613.21|         0|       0|                0|     1|         1|
|       41011903|      DIAZ|   CORDOVA|  LORENA ROXANA|  33|   F|        LIMA|     LIMA|   MAGDALENA DEL MAR|                CS|          2|  41011903| 43|  613.21|         0|       0|                0|     1|         1|
|       41098867|     PALMA|      RUIZ|   ALEX WILLIAN|  35|   M|        LIMA|     LIMA|VILLA MARIA DEL T...|                CS|          1|  41098867| 48|  568.16|         0|       0|                0|     1|         1|
|       41098867|     PALMA|      RUIZ|   ALEX WILLIAN|  35|   M|        LIMA|     LIMA|VILLA MARIA DEL T...|                CS|          1|  41098867| 48|  568.16|         0|       0|                0|     1|         1|
|       41118388|   VICENTE|     CASIO|         ROSITA|  33|   F|        LIMA|     LIMA|SAN JUAN DE MIRAF...|                 S|          1|  41118388| 12| 2487.05|         0|       0|                0|     1|         1|
|       41118388|   VICENTE|     CASIO|         ROSITA|  33|   F|        LIMA|     LIMA|SAN JUAN DE MIRAF...|                 S|          1|  41118388| 12| 2487.05|         0|       0|                0|     1|         1|
|       41195611|   MEMENZA|    ROMERO|MERCEDES ISABEL|  33|   F|        LIMA|     LIMA|           SAN BORJA|                CS|          3|  41195611|217|18814.28|         0|76821.18|                0|     1|         1|
|       41195611|   MEMENZA|    ROMERO|MERCEDES ISABEL|  33|   F|        LIMA|     LIMA|           SAN BORJA|                CS|          3|  41195611|217|18814.28|         0|76821.18|                0|     1|         1|
|       41213957|   MONTOYA|     PARRA|      JOSE LUIS|  33|   M|        LIMA|     LIMA|SAN JUAN DE LURIG...|                 S|          1|  41213957| 20| 1802.66|         0|       0|                0|     0|         1|
|       41213957|   MONTOYA|     PARRA|      JOSE LUIS|  33|   M|        LIMA|     LIMA|SAN JUAN DE LURIG...|                 S|          1|  41213957| 20| 1802.66|         0|       0|                0|     0|         1|
|       41291114|    RIVERA|    HUAMAN|      JOSE LUIS|  36|   M|        LIMA|     LIMA|   VILLA EL SALVADOR|                CS|          0|  41291114|133|  883.97|         0|       0|                0|     1|         1|
|       41291114|    RIVERA|    HUAMAN|      JOSE LUIS|  36|   M|        LIMA|     LIMA|   VILLA EL SALVADOR|                CS|          0|  41291114|133|  883.97|         0|       0|                0|     1|         1|
|       41310042|    GUERRA|   PADILLA|TONINHO ALFONSO|  33|   M|        LIMA|   HUAURA|             HUALMAY|                 S|          0|  41310042| 17| 1032.68|         0|       0|                3|     0|         1|
|       41310042|    GUERRA|   PADILLA|TONINHO ALFONSO|  33|   M|        LIMA|   HUAURA|             HUALMAY|                 S|          0|  41310042| 17| 1032.68|         0|       0|                3|     0|         1|
|       41318259|    CARPIO|  CHICHIPE|      ALEXANDER|  38|   M|        LIMA|     LIMA|SAN MARTIN DE PORRES|                 S|          1|  41318259| 41|  149.81|         0|       0|                1|     1|         1|
|       41318259|    CARPIO|  CHICHIPE|      ALEXANDER|  38|   M|        LIMA|     LIMA|SAN MARTIN DE PORRES|                 S|          1|  41318259| 41|  149.81|         0|       0|                1|     1|         1|
|       41329590|SAPALLANAY|VALENZUELA|EDITH MARCELINA|  33|   F|        LIMA|     LIMA|       PUENTE PIEDRA|                 S|          1|  41329590| 29|13616.95|         0|       0|                0|     0|         1|
|       41329590|SAPALLANAY|VALENZUELA|EDITH MARCELINA|  33|   F|        LIMA|     LIMA|       PUENTE PIEDRA|                 S|          1|  41329590| 29|13616.95|         0|       0|                0|     0|         1|
|       41358348|     CUEVA|    RONDAN| WILLIAM SILVIO|  33|   M|        LIMA|     LIMA|       PUENTE PIEDRA|                 S|          1|  41358348|182| 1915.41|         0|       0|                0|     1|         1|
|       41358348|     CUEVA|    RONDAN| WILLIAM SILVIO|  33|   M|        LIMA|     LIMA|       PUENTE PIEDRA|                 S|          1|  41358348|182| 1915.41|         0|       0|                0|     1|         1|
+---------------+----------+----------+---------------+----+----+------------+---------+--------------------+------------------+-----------+----------+---+--------+----------+--------+-----------------+------+----------+
only showing top 20 rows

In [9]:
test = DF3.filter("FlagSample == 0")
test.show()

+---------------+-----------+----------+--------------------+----+----+------------+---------+--------------------+------------------+-----------+----------+---+-------+----------+--------+-----------------+------+----------+
|NUMERODOCUMENTO|     APEPAT|    APEMAT|             NOMBRES|EDAD|SEXO|DEPARTAMENTO|PROVINCIA|            DISTRITO|ESTADOCIVILTITULAR|IncomeLevel|CustomerId|TOB|  Bal01|MaxDqBin01|MtgBal01|NonBankTradesDq01|FlagGB|FlagSample|
+---------------+-----------+----------+--------------------+----+----+------------+---------+--------------------+------------------+-----------+----------+---+-------+----------+--------+-----------------+------+----------+
|       41143790|     LIZANA|  CASTILLO|          KELY ROCIO|  33|   F|        LIMA|     LIMA|                 ATE|                CS|          0|  41143790|  6| 798.64|         0|       0|                0|     0|         0|
|       41143790|     LIZANA|  CASTILLO|          KELY ROCIO|  33|   F|        LIMA|     LIMA|                 ATE|                CS|          0|  41143790|  6| 798.64|         0|       0|                0|     0|         0|
|       41648858|     NAHUIS|  MENDIVIL|        VANESSA INES|  32|   F|        LIMA|     LIMA|       INDEPENDENCIA|                CS|          1|  41648858| 30|4499.01|         0|       0|                0|     1|         0|
|       41648858|     NAHUIS|  MENDIVIL|        VANESSA INES|  32|   F|        LIMA|     LIMA|       INDEPENDENCIA|                CS|          1|  41648858| 30|4499.01|         0|       0|                0|     1|         0|
|       41710463|      PININ|  VILLEGAS|          JUAN REYES|  35|   M|        LIMA|     LIMA|                 ATE|                 S|          0|  41710463| 41|4510.94|         0|       0|                0|     1|         0|
|       41710463|      PININ|  VILLEGAS|          JUAN REYES|  35|   M|        LIMA|     LIMA|                 ATE|                 S|          0|  41710463| 41|4510.94|         0|       0|                0|     1|         0|
|       41879799|       PENA| JARAMILLO|        MARIA MAXIMA|  81|   F|        LIMA|     LIMA|   VILLA EL SALVADOR|                CS|          1|  41879799|  0|2420.84|         0|       0|                0|     0|         0|
|       41879799|       PENA| JARAMILLO|        MARIA MAXIMA|  81|   F|        LIMA|     LIMA|   VILLA EL SALVADOR|                CS|          1|  41879799|  0|2420.84|         0|       0|                0|     0|         0|
|       41116900|    DELGADO|   SALDANA|MARCOS ENRIQUE VI...|  33|   M|        LIMA|     LIMA|               RIMAC|                 S|          1|  41116900| 22| 432.22|         0|       0|                0|     1|         0|
|       41116900|    DELGADO|   SALDANA|MARCOS ENRIQUE VI...|  33|   M|        LIMA|     LIMA|               RIMAC|                 S|          1|  41116900| 22| 432.22|         0|       0|                0|     1|         0|
|       41313332|   MARTINEZ|     VIVAS|    CRISTHIAN ANDRES|  33|   M|        LIMA|     LIMA|                LIMA|                CS|          1|  41313332| 71| 662.34|         0|       0|                0|     1|         0|
|       41313332|   MARTINEZ|     VIVAS|    CRISTHIAN ANDRES|  33|   M|        LIMA|     LIMA|                LIMA|                CS|          1|  41313332| 71| 662.34|         0|       0|                0|     1|         0|
|       41441727|LE BIENVENU|VELAOCHAGA|         JEAN PIERRE|  32|   M|        LIMA|     LIMA|          SAN ISIDRO|                CS|          0|  41441727| 44| 930.75|         0|       0|                1|     1|         0|
|       41441727|LE BIENVENU|VELAOCHAGA|         JEAN PIERRE|  32|   M|        LIMA|     LIMA|          SAN ISIDRO|                CS|          0|  41441727| 44| 930.75|         0|       0|                1|     1|         0|
|       41533760|      REANO|      ARCE|ANTUANETTE DEL CA...|  32|   F|        LIMA|     LIMA|          MIRAFLORES|                 S|          2|  41533760| 27|   0.53|         0|       0|                0|     1|         0|
|       41533760|      REANO|      ARCE|ANTUANETTE DEL CA...|  32|   F|        LIMA|     LIMA|          MIRAFLORES|                 S|          2|  41533760| 27|   0.53|         0|       0|                0|     1|         0|
|       41564744|  SEMINARIO|   QUIQUIA|       NELLY VIOLETA|  33|   F|        LIMA|     LIMA|SAN JUAN DE LURIG...|                 S|          1|  41564744|  0| 381.79|         1| 3486.01|                0|     1|         0|
|       41564744|  SEMINARIO|   QUIQUIA|       NELLY VIOLETA|  33|   F|        LIMA|     LIMA|SAN JUAN DE LURIG...|                 S|          1|  41564744|  0| 381.79|         1| 3486.01|                0|     1|         0|
|       41724881|        ODE|    JACOME|              SHADIA|  32|   F|        LIMA|     LIMA|           SAN BORJA|                 S|          3|  41724881|164| 862.16|         0|       0|                1|     1|         0|
|       41724881|        ODE|    JACOME|              SHADIA|  32|   F|        LIMA|     LIMA|           SAN BORJA|                 S|          3|  41724881|164| 862.16|         0|       0|                1|     1|         0|
+---------------+-----------+----------+--------------------+----+----+------------+---------+--------------------+------------------+-----------+----------+---+-------+----------+--------+-----------------+------+----------+
only showing top 20 rows

In [10]:
train.dtypes

[('NUMERODOCUMENTO', 'string'),
 ('APEPAT', 'string'),
 ('APEMAT', 'string'),
 ('NOMBRES', 'string'),
 ('EDAD', 'int'),
 ('SEXO', 'string'),
 ('DEPARTAMENTO', 'string'),
 ('PROVINCIA', 'string'),
 ('DISTRITO', 'string'),
 ('ESTADOCIVILTITULAR', 'string'),
 ('IncomeLevel', 'int'),
 ('CustomerId', 'string'),
 ('TOB', 'string'),
 ('Bal01', 'string'),
 ('MaxDqBin01', 'string'),
 ('MtgBal01', 'string'),
 ('NonBankTradesDq01', 'string'),
 ('FlagGB', 'string'),
 ('FlagSample', 'string')]

In [11]:
test.dtypes

[('NUMERODOCUMENTO', 'string'),
 ('APEPAT', 'string'),
 ('APEMAT', 'string'),
 ('NOMBRES', 'string'),
 ('EDAD', 'int'),
 ('SEXO', 'string'),
 ('DEPARTAMENTO', 'string'),
 ('PROVINCIA', 'string'),
 ('DISTRITO', 'string'),
 ('ESTADOCIVILTITULAR', 'string'),
 ('IncomeLevel', 'int'),
 ('CustomerId', 'string'),
 ('TOB', 'string'),
 ('Bal01', 'string'),
 ('MaxDqBin01', 'string'),
 ('MtgBal01', 'string'),
 ('NonBankTradesDq01', 'string'),
 ('FlagGB', 'string'),
 ('FlagSample', 'string')]

In [12]:
train.show()

+---------------+----------+----------+---------------+----+----+------------+---------+--------------------+------------------+-----------+----------+---+--------+----------+--------+-----------------+------+----------+
|NUMERODOCUMENTO|    APEPAT|    APEMAT|        NOMBRES|EDAD|SEXO|DEPARTAMENTO|PROVINCIA|            DISTRITO|ESTADOCIVILTITULAR|IncomeLevel|CustomerId|TOB|   Bal01|MaxDqBin01|MtgBal01|NonBankTradesDq01|FlagGB|FlagSample|
+---------------+----------+----------+---------------+----+----+------------+---------+--------------------+------------------+-----------+----------+---+--------+----------+--------+-----------------+------+----------+
|       41011903|      DIAZ|   CORDOVA|  LORENA ROXANA|  33|   F|        LIMA|     LIMA|   MAGDALENA DEL MAR|                CS|          2|  41011903| 43|  613.21|         0|       0|                0|     1|         1|
|       41011903|      DIAZ|   CORDOVA|  LORENA ROXANA|  33|   F|        LIMA|     LIMA|   MAGDALENA DEL MAR|                CS|          2|  41011903| 43|  613.21|         0|       0|                0|     1|         1|
|       41098867|     PALMA|      RUIZ|   ALEX WILLIAN|  35|   M|        LIMA|     LIMA|VILLA MARIA DEL T...|                CS|          1|  41098867| 48|  568.16|         0|       0|                0|     1|         1|
|       41098867|     PALMA|      RUIZ|   ALEX WILLIAN|  35|   M|        LIMA|     LIMA|VILLA MARIA DEL T...|                CS|          1|  41098867| 48|  568.16|         0|       0|                0|     1|         1|
|       41118388|   VICENTE|     CASIO|         ROSITA|  33|   F|        LIMA|     LIMA|SAN JUAN DE MIRAF...|                 S|          1|  41118388| 12| 2487.05|         0|       0|                0|     1|         1|
|       41118388|   VICENTE|     CASIO|         ROSITA|  33|   F|        LIMA|     LIMA|SAN JUAN DE MIRAF...|                 S|          1|  41118388| 12| 2487.05|         0|       0|                0|     1|         1|
|       41195611|   MEMENZA|    ROMERO|MERCEDES ISABEL|  33|   F|        LIMA|     LIMA|           SAN BORJA|                CS|          3|  41195611|217|18814.28|         0|76821.18|                0|     1|         1|
|       41195611|   MEMENZA|    ROMERO|MERCEDES ISABEL|  33|   F|        LIMA|     LIMA|           SAN BORJA|                CS|          3|  41195611|217|18814.28|         0|76821.18|                0|     1|         1|
|       41213957|   MONTOYA|     PARRA|      JOSE LUIS|  33|   M|        LIMA|     LIMA|SAN JUAN DE LURIG...|                 S|          1|  41213957| 20| 1802.66|         0|       0|                0|     0|         1|
|       41213957|   MONTOYA|     PARRA|      JOSE LUIS|  33|   M|        LIMA|     LIMA|SAN JUAN DE LURIG...|                 S|          1|  41213957| 20| 1802.66|         0|       0|                0|     0|         1|
|       41291114|    RIVERA|    HUAMAN|      JOSE LUIS|  36|   M|        LIMA|     LIMA|   VILLA EL SALVADOR|                CS|          0|  41291114|133|  883.97|         0|       0|                0|     1|         1|
|       41291114|    RIVERA|    HUAMAN|      JOSE LUIS|  36|   M|        LIMA|     LIMA|   VILLA EL SALVADOR|                CS|          0|  41291114|133|  883.97|         0|       0|                0|     1|         1|
|       41310042|    GUERRA|   PADILLA|TONINHO ALFONSO|  33|   M|        LIMA|   HUAURA|             HUALMAY|                 S|          0|  41310042| 17| 1032.68|         0|       0|                3|     0|         1|
|       41310042|    GUERRA|   PADILLA|TONINHO ALFONSO|  33|   M|        LIMA|   HUAURA|             HUALMAY|                 S|          0|  41310042| 17| 1032.68|         0|       0|                3|     0|         1|
|       41318259|    CARPIO|  CHICHIPE|      ALEXANDER|  38|   M|        LIMA|     LIMA|SAN MARTIN DE PORRES|                 S|          1|  41318259| 41|  149.81|         0|       0|                1|     1|         1|
|       41318259|    CARPIO|  CHICHIPE|      ALEXANDER|  38|   M|        LIMA|     LIMA|SAN MARTIN DE PORRES|                 S|          1|  41318259| 41|  149.81|         0|       0|                1|     1|         1|
|       41329590|SAPALLANAY|VALENZUELA|EDITH MARCELINA|  33|   F|        LIMA|     LIMA|       PUENTE PIEDRA|                 S|          1|  41329590| 29|13616.95|         0|       0|                0|     0|         1|
|       41329590|SAPALLANAY|VALENZUELA|EDITH MARCELINA|  33|   F|        LIMA|     LIMA|       PUENTE PIEDRA|                 S|          1|  41329590| 29|13616.95|         0|       0|                0|     0|         1|
|       41358348|     CUEVA|    RONDAN| WILLIAM SILVIO|  33|   M|        LIMA|     LIMA|       PUENTE PIEDRA|                 S|          1|  41358348|182| 1915.41|         0|       0|                0|     1|         1|
|       41358348|     CUEVA|    RONDAN| WILLIAM SILVIO|  33|   M|        LIMA|     LIMA|       PUENTE PIEDRA|                 S|          1|  41358348|182| 1915.41|         0|       0|                0|     1|         1|
+---------------+----------+----------+---------------+----+----+------------+---------+--------------------+------------------+-----------+----------+---+--------+----------+--------+-----------------+------+----------+
only showing top 20 rows

In [13]:
train.columns

['NUMERODOCUMENTO',
 'APEPAT',
 'APEMAT',
 'NOMBRES',
 'EDAD',
 'SEXO',
 'DEPARTAMENTO',
 'PROVINCIA',
 'DISTRITO',
 'ESTADOCIVILTITULAR',
 'IncomeLevel',
 'CustomerId',
 'TOB',
 'Bal01',
 'MaxDqBin01',
 'MtgBal01',
 'NonBankTradesDq01',
 'FlagGB',
 'FlagSample']

In [14]:
train_model = train[[
 'EDAD',
 'SEXO',
 'DEPARTAMENTO',
 'PROVINCIA',
 'DISTRITO',
 'ESTADOCIVILTITULAR',
 'IncomeLevel',
 'TOB',
 'Bal01',
 'MaxDqBin01',
 'MtgBal01',
 'NonBankTradesDq01',
 'FlagGB']]

In [15]:
test_model = test[[
 'EDAD',
 'SEXO',
 'DEPARTAMENTO',
 'PROVINCIA',
 'DISTRITO',
 'ESTADOCIVILTITULAR',
 'IncomeLevel',
 'TOB',
 'Bal01',
 'MaxDqBin01',
 'MtgBal01',
 'NonBankTradesDq01',
 'FlagGB']]

In [16]:
train_model.count(), test_model.count()

(11600, 3804)

In [17]:
train_model.dtypes

[('EDAD', 'int'),
 ('SEXO', 'string'),
 ('DEPARTAMENTO', 'string'),
 ('PROVINCIA', 'string'),
 ('DISTRITO', 'string'),
 ('ESTADOCIVILTITULAR', 'string'),
 ('IncomeLevel', 'int'),
 ('TOB', 'string'),
 ('Bal01', 'string'),
 ('MaxDqBin01', 'string'),
 ('MtgBal01', 'string'),
 ('NonBankTradesDq01', 'string'),
 ('FlagGB', 'string')]

In [18]:
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler, StandardScaler
from pandas.tools.plotting import scatter_matrix
%matplotlib inline 
import matplotlib.pyplot as plt, numpy as np

from pyspark.sql.functions import col

In [21]:
from pyspark.ml.feature import StringIndexer
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer
list_category = ['ESTADOCIVILTITULAR', 'DISTRITO', 'PROVINCIA', 'DEPARTAMENTO', 'SEXO']
indexers = [StringIndexer(inputCol=column, outputCol=column+"_index").fit(train) for column in list_category ]
pipeline = Pipeline(stages=indexers)
train = pipeline.fit(train).transform(train)
train.dtypes

[('NUMERODOCUMENTO', 'string'),
 ('APEPAT', 'string'),
 ('APEMAT', 'string'),
 ('NOMBRES', 'string'),
 ('EDAD', 'int'),
 ('SEXO', 'string'),
 ('DEPARTAMENTO', 'string'),
 ('PROVINCIA', 'string'),
 ('DISTRITO', 'string'),
 ('ESTADOCIVILTITULAR', 'string'),
 ('IncomeLevel', 'int'),
 ('CustomerId', 'string'),
 ('TOB', 'string'),
 ('Bal01', 'string'),
 ('MaxDqBin01', 'string'),
 ('MtgBal01', 'string'),
 ('NonBankTradesDq01', 'string'),
 ('FlagGB', 'string'),
 ('FlagSample', 'string'),
 ('ESTADOCIVILTITULAR_index', 'double'),
 ('DISTRITO_index', 'double'),
 ('PROVINCIA_index', 'double'),
 ('DEPARTAMENTO_index', 'double'),
 ('SEXO_index', 'double')]

In [25]:
from pyspark.sql.types import DoubleType, IntegerType
list_val_col = []
list_val_numeric = ['FlagGB', 'NonBankTradesDq01', 'MtgBal01', 'MaxDqBin01', 'Bal01', 'TOB']
list_int = ['EDAD', 'IncomeLevel', 'DISTRITO_index', 'ESTADOCIVILTITULAR_index', 'PROVINCIA_index', 'DEPARTAMENTO_index', 'SEXO_index']

cols_select = [col(_).cast(IntegerType()) for _ in list_val_numeric] + [col(_) for _ in list_int] 
train_x = train.select(*cols_select)
train_x.show()

+------+-----------------+--------+----------+-----+---+----+-----------+--------------+------------------------+---------------+------------------+----------+
|FlagGB|NonBankTradesDq01|MtgBal01|MaxDqBin01|Bal01|TOB|EDAD|IncomeLevel|DISTRITO_index|ESTADOCIVILTITULAR_index|PROVINCIA_index|DEPARTAMENTO_index|SEXO_index|
+------+-----------------+--------+----------+-----+---+----+-----------+--------------+------------------------+---------------+------------------+----------+
|     1|                0|       0|         0|  613| 43|  33|          2|          29.0|                     1.0|            0.0|               0.0|       1.0|
|     1|                0|       0|         0|  613| 43|  33|          2|          29.0|                     1.0|            0.0|               0.0|       1.0|
|     1|                0|       0|         0|  568| 48|  35|          1|           9.0|                     1.0|            0.0|               0.0|       0.0|
|     1|                0|       0|         0|  568| 48|  35|          1|           9.0|                     1.0|            0.0|               0.0|       0.0|
|     1|                0|       0|         0| 2487| 12|  33|          1|           6.0|                     0.0|            0.0|               0.0|       1.0|
|     1|                0|       0|         0| 2487| 12|  33|          1|           6.0|                     0.0|            0.0|               0.0|       1.0|
|     1|                0|   76821|         0|18814|217|  33|          3|          16.0|                     1.0|            0.0|               0.0|       1.0|
|     1|                0|   76821|         0|18814|217|  33|          3|          16.0|                     1.0|            0.0|               0.0|       1.0|
|     0|                0|       0|         0| 1802| 20|  33|          1|           0.0|                     0.0|            0.0|               0.0|       0.0|
|     0|                0|       0|         0| 1802| 20|  33|          1|           0.0|                     0.0|            0.0|               0.0|       0.0|
|     1|                0|       0|         0|  883|133|  36|          0|           7.0|                     1.0|            0.0|               0.0|       0.0|
|     1|                0|       0|         0|  883|133|  36|          0|           7.0|                     1.0|            0.0|               0.0|       0.0|
|     0|                3|       0|         0| 1032| 17|  33|          0|          52.0|                     0.0|            2.0|               0.0|       0.0|
|     0|                3|       0|         0| 1032| 17|  33|          0|          52.0|                     0.0|            2.0|               0.0|       0.0|
|     1|                1|       0|         0|  149| 41|  38|          1|           1.0|                     0.0|            0.0|               0.0|       0.0|
|     1|                1|       0|         0|  149| 41|  38|          1|           1.0|                     0.0|            0.0|               0.0|       0.0|
|     0|                0|       0|         0|13616| 29|  33|          1|          17.0|                     0.0|            0.0|               0.0|       1.0|
|     0|                0|       0|         0|13616| 29|  33|          1|          17.0|                     0.0|            0.0|               0.0|       1.0|
|     1|                0|       0|         0| 1915|182|  33|          1|          17.0|                     0.0|            0.0|               0.0|       0.0|
|     1|                0|       0|         0| 1915|182|  33|          1|          17.0|                     0.0|            0.0|               0.0|       0.0|
+------+-----------------+--------+----------+-----+---+----+-----------+--------------+------------------------+---------------+------------------+----------+
only showing top 20 rows

In [26]:
list_category = ['ESTADOCIVILTITULAR', 'DISTRITO', 'PROVINCIA', 'DEPARTAMENTO', 'SEXO']
indexers = [StringIndexer(inputCol=column, outputCol=column+"_index").fit(test) for column in list_category ]
pipeline = Pipeline(stages=indexers)
test = pipeline.fit(test).transform(test)
test.dtypes

[('NUMERODOCUMENTO', 'string'),
 ('APEPAT', 'string'),
 ('APEMAT', 'string'),
 ('NOMBRES', 'string'),
 ('EDAD', 'int'),
 ('SEXO', 'string'),
 ('DEPARTAMENTO', 'string'),
 ('PROVINCIA', 'string'),
 ('DISTRITO', 'string'),
 ('ESTADOCIVILTITULAR', 'string'),
 ('IncomeLevel', 'int'),
 ('CustomerId', 'string'),
 ('TOB', 'string'),
 ('Bal01', 'string'),
 ('MaxDqBin01', 'string'),
 ('MtgBal01', 'string'),
 ('NonBankTradesDq01', 'string'),
 ('FlagGB', 'string'),
 ('FlagSample', 'string'),
 ('ESTADOCIVILTITULAR_index', 'double'),
 ('DISTRITO_index', 'double'),
 ('PROVINCIA_index', 'double'),
 ('DEPARTAMENTO_index', 'double'),
 ('SEXO_index', 'double')]

In [27]:
from pyspark.sql.types import DoubleType, IntegerType
list_val_col = []
list_val_numeric = ['FlagGB', 'NonBankTradesDq01', 'MtgBal01', 'MaxDqBin01', 'Bal01', 'TOB']
list_int = ['EDAD', 'IncomeLevel', 'DISTRITO_index', 'ESTADOCIVILTITULAR_index', 'PROVINCIA_index', 'DEPARTAMENTO_index', 'SEXO_index']

cols_select = [col(_).cast(IntegerType()) for _ in list_val_numeric] + [col(_) for _ in list_int] 
test_x = test.select(*cols_select)
test_x.show()

+------+-----------------+--------+----------+-----+---+----+-----------+--------------+------------------------+---------------+------------------+----------+
|FlagGB|NonBankTradesDq01|MtgBal01|MaxDqBin01|Bal01|TOB|EDAD|IncomeLevel|DISTRITO_index|ESTADOCIVILTITULAR_index|PROVINCIA_index|DEPARTAMENTO_index|SEXO_index|
+------+-----------------+--------+----------+-----+---+----+-----------+--------------+------------------------+---------------+------------------+----------+
|     0|                0|       0|         0|  798|  6|  33|          0|           3.0|                     1.0|            0.0|               0.0|       1.0|
|     0|                0|       0|         0|  798|  6|  33|          0|           3.0|                     1.0|            0.0|               0.0|       1.0|
|     1|                0|       0|         0| 4499| 30|  32|          1|          16.0|                     1.0|            0.0|               0.0|       1.0|
|     1|                0|       0|         0| 4499| 30|  32|          1|          16.0|                     1.0|            0.0|               0.0|       1.0|
|     1|                0|       0|         0| 4510| 41|  35|          0|           3.0|                     0.0|            0.0|               0.0|       0.0|
|     1|                0|       0|         0| 4510| 41|  35|          0|           3.0|                     0.0|            0.0|               0.0|       0.0|
|     0|                0|       0|         0| 2420|  0|  81|          1|           8.0|                     1.0|            0.0|               0.0|       1.0|
|     0|                0|       0|         0| 2420|  0|  81|          1|           8.0|                     1.0|            0.0|               0.0|       1.0|
|     1|                0|       0|         0|  432| 22|  33|          1|          22.0|                     0.0|            0.0|               0.0|       0.0|
|     1|                0|       0|         0|  432| 22|  33|          1|          22.0|                     0.0|            0.0|               0.0|       0.0|
|     1|                0|       0|         0|  662| 71|  33|          1|           5.0|                     1.0|            0.0|               0.0|       0.0|
|     1|                0|       0|         0|  662| 71|  33|          1|           5.0|                     1.0|            0.0|               0.0|       0.0|
|     1|                1|       0|         0|  930| 44|  32|          0|          26.0|                     1.0|            0.0|               0.0|       0.0|
|     1|                1|       0|         0|  930| 44|  32|          0|          26.0|                     1.0|            0.0|               0.0|       0.0|
|     1|                0|       0|         0|    0| 27|  32|          2|          13.0|                     0.0|            0.0|               0.0|       1.0|
|     1|                0|       0|         0|    0| 27|  32|          2|          13.0|                     0.0|            0.0|               0.0|       1.0|
|     1|                0|    3486|         1|  381|  0|  33|          1|           0.0|                     0.0|            0.0|               0.0|       1.0|
|     1|                0|    3486|         1|  381|  0|  33|          1|           0.0|                     0.0|            0.0|               0.0|       1.0|
|     1|                1|       0|         0|  862|164|  32|          3|          21.0|                     0.0|            0.0|               0.0|       1.0|
|     1|                1|       0|         0|  862|164|  32|          3|          21.0|                     0.0|            0.0|               0.0|       1.0|
+------+-----------------+--------+----------+-----+---+----+-----------+--------------+------------------------+---------------+------------------+----------+
only showing top 20 rows

In [28]:
test_x.dtypes

[('FlagGB', 'int'),
 ('NonBankTradesDq01', 'int'),
 ('MtgBal01', 'int'),
 ('MaxDqBin01', 'int'),
 ('Bal01', 'int'),
 ('TOB', 'int'),
 ('EDAD', 'int'),
 ('IncomeLevel', 'int'),
 ('DISTRITO_index', 'double'),
 ('ESTADOCIVILTITULAR_index', 'double'),
 ('PROVINCIA_index', 'double'),
 ('DEPARTAMENTO_index', 'double'),
 ('SEXO_index', 'double')]

In [34]:
list(set(train_x.columns) - set('FlagGB'))

['EDAD',
 'SEXO_index',
 'NonBankTradesDq01',
 'Bal01',
 'MtgBal01',
 'MaxDqBin01',
 'FlagGB',
 'PROVINCIA_index',
 'ESTADOCIVILTITULAR_index',
 'TOB',
 'DEPARTAMENTO_index',
 'IncomeLevel',
 'DISTRITO_index']

In [35]:
target_train = train_x['FlagGB']
target_test = test_x['FlagGB']
train_x = train_x[list(set(train_x.columns) - set('FlagGB'))]
test_x = test_x[list(set(train_x.columns) - set('FlagGB'))]

In [37]:
target_train.columns, target_test.columns

(Column<FlagGB['columns']>, Column<FlagGB['columns']>)

In [38]:
train_x.columns

['EDAD',
 'SEXO_index',
 'NonBankTradesDq01',
 'Bal01',
 'MtgBal01',
 'MaxDqBin01',
 'FlagGB',
 'PROVINCIA_index',
 'ESTADOCIVILTITULAR_index',
 'TOB',
 'DEPARTAMENTO_index',
 'IncomeLevel',
 'DISTRITO_index']